<app-navbar></app-navbar>

<div class="mb60 mb50-sm"></div>

<div class="container">
  <h2 class="title custom">Frequently Asked Question</h2>
  <div class="mb25 mb50-sm"></div>
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="1">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#faq_1" aria-expanded="true"
            aria-controls="collapseOne">
            Apa yang dimaksud dengan TPA?
          </button>
        </h5>
      </div>
      <div *ngFor="let item of faq">
        <div id="faq_1" class="collapse show" aria-labelledby="1" data-parent="#accordion">
          <div class="card-body">
            <div [innerHTML]="item.isi_faq"></div>
          </div>
        </div>
      </div>

    </div>

    <!-- <div class="card">
      <div class="card-header" id="2">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq_2" aria-expanded="false"
            aria-controls="faq_2">
            Apakah Owlexa Healthcare?
          </button>
        </h5>
      </div>
      <div id="faq_2" class="collapse" aria-labelledby="2" data-parent="#accordion">
        <div class="card-body">
          Merupakan unit bisnis dari PT Aplikanusa Lintasarta yang dibentuk
          pada tahun 2014 , bergerak di bidang TPA. Sebagai TPA, Owlexa Healthcare
          menggunakan metode layanan dengan terminal EDC (Electronic Data Capture)
          dan magnetic swipe card dengan sistem aplikasi berbasis web sehingga
          memungkinkan dilakukan pertukaran data "host to host" dengan perusahaan
          penjamin atau perusahaan maupun dengan penyedia pelayananan kesehatan atau
          provider (rumah sakit, klinik, laboratorium, apotek & optik).
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="3">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq_3" aria-expanded="false"
            aria-controls="collapseTwo">
            Apa kemudahan dari aplikasi berbasis web yang host to host bagi perusahaan penjamin ??
          </button>
        </h5>
      </div>
      <div id="faq_3" class="collapse" aria-labelledby="3" data-parent="#accordion">
        <div class="card-body">
          Aplikasi berbasis web yang dimiliki oleh Owlexa Healthcare sangat
          memungkinkan dilakukan integrasi dengan sistem dari perusahaan penjamin.
          Perusahaan penjamin bisa melakukan proses updating pada aplikasi
          yang sudah terintegrasi tersebut langsung tanpa jeda waktu sehingga
          pelayanan lebih efektif dan efisien.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="4">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq_4" aria-expanded="false"
            aria-controls="collapseTwo">
            Apa kemudahan dari aplikasi berbasis web yang host to host bagi provider ?
          </button>
        </h5>
      </div>
      <div id="faq_4" class="collapse" aria-labelledby="4" data-parent="#accordion">
        <div class="card-body">
          Owlexa Healthcare akan memberikan akses kepada provider sehingga provider
          dapat melakukan input dokumentasi/formulir yang diminta oleh
          TPA dan provider juga dapat melihat perjalanan dan proses dari
          dokumen claims yang dikirimkan.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="5">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq_5" aria-expanded="false"
            aria-controls="collapseTwo">
            Berapa jumlah penyedia pelayanan kesehatan yang sudah terkoneksi
            dengan sistem EDC Owlexa Healthcare ?
          </button>
        </h5>
      </div>
      <div id="faq_5" class="collapse" aria-labelledby="5" data-parent="#accordion">
        <div class="card-body">
          Lihat pada halaman daftar provider Owlexa Healthcare
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="6">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq_6" aria-expanded="false"
            aria-controls="collapseTwo">
            Apa kelebihan Owlexa Healthcare ?
          </button>
        </h5>
      </div>
      <div id="faq_6" class="collapse" aria-labelledby="6" data-parent="#accordion">
        <div class="card-body">
          Lintasarta sebagai perusahaan Data Communication dan
          Information Technology memberikan nilai tambah dalam
          penyediaan bisnis TPA melalui Teknologi Claim Management berbasis web.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="7">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq_7" aria-expanded="false"
            aria-controls="collapseThree">
            Adakah paket pelayanan yang sesuai dengan kebutuhan pasar ?
          </button>
        </h5>
      </div>
      <div id="faq_7" class="collapse" aria-labelledby="7" data-parent="#accordion">
        <div class="card-body">
          OWLEXA Healthcare memberikan paket layanan yang disesuaikan dengan kebutuhan
          teknologi dan pelayanan administrasi asuransi/jaminan kesehatan dari pelanggan.
          Silahkan dilihat pada halaman paket layanan Owlexa Healthcare.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="8">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq_8" aria-expanded="false"
            aria-controls="collapseThree">
            Apa keuntungan penyedia pelayanan kesehatan (provider) jika bekerjasama
            dengan Owlexa Healthcare ?
          </button>
        </h5>
      </div>
      <div id="faq_8" class="collapse" aria-labelledby="8" data-parent="#accordion">
        <div class="card-body">
          Lintasarta menggunakan teknologi mesin EDC lebih ‘user friendly’
          dan terintegrasi langsung dengan aplikasi Owlexa Healthcare
          tanpa ada beban biaya baik biaya kerjasama/pemasangan EDC
          maupun biaya transfer data melalui EDC. Penyedia pelayanan
          kesehatan akan diberikan akses ke web portal Owlexa Healthcare untuk
          memudahkan mendapat informasi sesuai kebutuhan.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="9">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq_9" aria-expanded="false"
            aria-controls="collapseThree">
            Bagaimana keunggulan sistem call centre Owlexa Healthcare?
          </button>
        </h5>
      </div>
      <div id="faq_9" class="collapse" aria-labelledby="9" data-parent="#accordion">
        <div class="card-body">
          Call center Owlexa Healthcare siap melayani selama 24 jam 7 hari
          seminggu didukung oleh sumber daya manusia yang berlatar belakang
          ilmu kesehatan dan berpengalaman dalam pengelolaan administrasi asuransi
          dan jaminan kesehatan. Call center Owlexa Healthcare juga dilengkapi
          dengan sistem teknologi multimedia contact centre (fax, email, voice, chat)
          yang mampu menunjang kinerja secara efektif.
        </div>
      </div>
    </div> -->

  </div>
</div>
<div class="mb60 mb50-sm"></div>

<app-footerpage></app-footerpage>