<app-navbar></app-navbar>

<div class="mb60 mb50-sm"></div>

<div class="container">
  <h2 class="title custom">Detail Artikel</h2>
  <div class="mb25 mb50-sm"></div>
  <div class="col-lg-12">
    <div class="mb25 mb50-sm"></div>



    <!-- Preview Image -->
    <img class="img-fluid rounded img-thumbnail" src="assets/images/Arya_Damar_1.jpg" alt="" style="width: 100%; height: 350px;">
    <div class="mb10"></div>
    <h2 class="title custom">{{articel.title}}</h2>
    <hr>
    <!-- Date/Time -->
    <p>Posted on January 1, 2017 at 12:00 PM</p>

    <hr>
    <div  [innerHTML]="articel.wording"></div>
    <!-- Post Content -->
    <!-- <p class="lead text-justify">To meet the need of good, fast and accurate health coverage and insurance service, in September 2015, PT Aplikanusa Lintasarta established a new business unit in e-health branded as “Owlexa Healthcare”. With 27 years of experience as a technology company that has served more than 2,000 corporations, Lintasarta is confident that it could deliver the best service to all stakeholders in health insurance industry.

      Owlexa Healthcare provides unlimited service as a third party administrator such as giving service to the administration process of corporate claim or insurance starting from membership & policy administration, eligible members, case monitoring, discharging through the process of payment to the medical cost claim.  Supported by a reliable system and technology as well as human resources, Owlexa is convinced that it can provide an optimum, efficient, fast and the best health administration service.

      The question is how is the progress of Owlexa Healthcareand what is its plan for the future? Arya Damar, President Director of PT Aplikanusa Lintasarta, accompanied by Yosi Widhayanti, Senior Vice President of Owlexa Healthcare, explained:



      How are the opportunity  and the challenge that Owlexa Healthcare will face in the future? Owlexa Healthcare is still new in the industry, but we see many opportunities in the health insurance in Indonesia. So, we hope Lintasarta through Owlexa Healthcare can contribute something in this sector. With Owlexa Healthcare, we expect Lintasarta will not only become a third party processing firm as Lintasarta started as ICT (information communication technology) firm.  If only as a third party processing, we merely connect insurances to hospitals and corporate to hospitals for the sake of health interest of the company’s employees.  We know that the overall ICT request to the health industry is very many, starting from the insurance to the hospital, so we need to help hospitals meet their IT services. So it’s horizontal, we started as a third party administrator (TPA) first, but then we will move beyond TPA.  That’s the opportunity.



      Despite our expertise as TPA, we are pretty new in the health industry, but we can still grow, especially when we see the fact that only few of hundreds of millions Indonesian people have insurance policy. Our other challenges include how we can handle insurances that have different needs because the service packages provided by insurance firms to their clients are also different. So application and adjustments are required.



      Another challenge is BPJS Kesehatan or National Healthcare Insurance. Actually BPJS Kesehatan can be assisted with insurance, meaning that it can be coordinated, for example, topping up in a big amount of money can use insurance, and while topping up with a small amount of money can use BPJS Kesehatan. This can be agreed, so hat insurance firms can sell BPJS products. Then as an ICT company, we must also provide a solution to BPJS Kesehatan by knowing its process, so that we can help. This will be beyond the benefit coordination between insurance and BPJS. However, we have yet to go that far, as we are still focusing on how to increase the number of corporate clients, insurance firms and hospitals. But we already have the plan.



      How is Owlexa Healthcare achievement progress?

      Yosi Widhayanti: As of now, Owlexa Healthcare has signed MoUs with six insurance firms. Also Lintasarta has appointed as an ASO (Administration Services Only) for three corporate clients.  After two months since Owlexa was launched, we already obtained 1,200 points for hospitals, laboratorium, optic and pharmacyies. Besides that, the application business in health industry is still wide open.



      What is the business target of Owlexa Healthcare?

      We want that in the next 2-3 years, Owlexa Healthcare can stand on its own feet as right now it’s still part of Lintasarta. We want Owlexa Healthcare can take all the vertical market in health industry.



      In term of technology, what can Owlexa Healthcare provide?

      If we are only a TPA, the challenge is dealing with several insurances firms that have different insurance packages. So, we have to tailor the application based on the need of these insurances. We can use general technology but it will limit the insurance firms’ innovations. Well, Lintasarta has telecommunication, IT services and its subsidiaries such as PT Artajasa Pembayaran Elektronis can play a role in payment  etc.  All those facilities are being utilized by Owlexa Healthcare to provide its services at the beginning as TPA and the next step, an IT service for health industry.



      What kind of service level agreement offered by Owlexa Healthcareto clients?

      We start from ourselves; Lintasarta and Owlexa Healthcare must follow particular standards. We have an ISO for information security management and other standards. Actually, the most important key in this business is trust, similar to bank. We must have particular services to maintain the provision of good technology network. So I think it is the trust that we must take care of. Others are technical problems. Regarding ISO standard and others, those are technology issues, but the most important thing is how the management can build trust from all stakeholders to run this business.



      What services from Owlexa can be enjoyed by end users?

      Actually, from end users, it is easier as they just have to bring card. Usually, an employee who goes to doctor or hospital will pay with his/her own money first, and will be reimbursed by the employer/the company he/she works for. That’s the process.

      However, during the process, there might be difficulties faced by the employer/company. For example, it can be difficult to check the hospital, what kind of health problems, and the medicine served.Those are items that can’t be checked by the Human Resources Department, but with our presence, there will be doctors that can help check those items.

      Furthermore, Owlexa also provide medical advisor who responsible to check (doctor) treatment for providing medicines and investigate any suspicious things from medical point of view. If the medicines are too many, we will ask and report.

      With the Owlexa service, client can use the Owlexa card for medical treatment in hospital withour spending their own money.

      The use of such a card will ease the burden of employee, but on the other hand, we can also monitor the medicines served to employees, such as the employees can’t use the card to getnon relevant treatments, vitamins or herbal medicines as we will report to the employer/company. That would also benefitthe employer/the company and the insurance firm as there are scopes of services that can be monitored. We also monitor the good and bad hospitals so that the company and insurance firms under our services have the knowledge about it. For hospitals, our services can also serve as materials to improve their services.



      While the health industry value is still big, which portion Owlexa will focus?

      We will take the technology side, but not the hardware. We are more on providing solution starting from TPA and then moving furthermore. For example, we just received several requests from hospitals to improve queuing, contact center or the hospital whole system.  Those are pretty big projects. So we must collaborate with other parties. The future market willbe more widen. We will be very committed to reaching there.</p> -->

    <blockquote class="blockquote">
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">Someone famous in
        <cite title="Source Title">Source Title</cite>
      </footer>
    </blockquote>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error,
      nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi
      nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum,
      dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem
      voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui,
      necessitatibus, est!</p>

    <hr>

    <!-- Comments Form -->
    <div class="card my-4">
      <h5 class="card-header">Leave a Comment:</h5>
      <div class="card-body">
        <form>
          <div class="form-group">
            <textarea class="form-control" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

    <!-- Single Comment -->
    <div class="media mb-4">
      <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
      <div class="media-body">
        <h5 class="mt-0">Commenter Name</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>

    <!-- Comment with nested comments -->
    <div class="media mb-4">
      <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
      <div class="media-body">
        <h5 class="mt-0">Commenter Name</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

        <div class="media mt-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>

        <div class="media mt-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
<div class="mb60 mb50-sm"></div>

<app-footerpage></app-footerpage>

