<app-navbar></app-navbar>

<div class="mb60 mb50-sm"></div>
<div class="container">
  <h2 class="title custom">Promo Hari Ini</h2>
  <div class="mb25 mb50-sm"></div>


  <div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="assets/images/promo4.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Administrative Service Only</a>
          </h4>
          <div class="display-4">Rp.799.999,00</div>
          <div class="font-italic">per bulan</div>
          <p class="card-text">Merupakan produk jasa layanan administrasi jaminan
            kesehatan yang diberikan kepada kelompok perusahaan atau  organisasi
            sebagai pemilik atau pengelola dana jaminan kesehatan bagi karyawan dan keluarganya,
            penggelolaan akan sesuai dengan ketentuan perusahaan.</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Client Member Access</li>
            <li class="list-group-item">Host To Host Ready</li>
            <li class="list-group-item">Customized Reporting</li>
            <li class="list-group-item">COB (Coordination of Benefit) Ready</li>
            <li class="list-group-item">Individual Product Support</li>
          </ul>
          <a href="owlexa/detail-promo" class="btn btn-warning btn-lg btn-block">LIHAT DETAIL</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb60 mb50-sm"></div>

<app-footerpage></app-footerpage>
