<app-navbar></app-navbar>

<div class="mb60 mb50-sm"></div>

<div class="container">
  <h2 class="title custom">Detail Promo</h2>
  <div class="mb25 mb50-sm"></div>
  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <h2>{{promo.nama_promo}}</h2>
      <div [innerHTML]="promo.ket_promo"></div>
      <!-- <p>Saatnya kamu istirahat dari kegiatan sehari-hari yang menumpuk.
        Mau santai di pantai, merasakan sejuknya pegunungan, atau bermain dan chill bareng teman-teman.
        Mau di mana pun, bisa staycation saat valentine di hotel domestik kesukaan.
        Dapatkan diskon hingga Rp400.000 hanya di aplikasi tiket.com
        Baca Syarat dan Ketentuan di bawah, ya!
      </p> -->
      mau ke mana? semua ada tiketnya!
      <hr>
      <div class="col-md-2">
        <label>Periode</label>
        <label>Periode Perjalan</label>
        <label>Platfom</label>
      </div>
      <div class="col-md-2">
        <label>{{promo.exp_promo}}</label>
        <label>Kapanpun</label>
        <label>Android, iOS</label>
      </div>

      <!-- Blog Post -->


      <!-- Pagination -->


    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Search Widget -->


      <!-- Categories Widget -->


    </div>

  </div>


</div>
<div class="mb60 mb50-sm"></div>

<app-footerpage></app-footerpage>