<div class="container">
<div class="mb110"></div><!-- margin -->
<div class="services-group custom">
  <div class="service-row">
    <div class="service service-box">
      <img src="assets/images/svg/first-aid-kit.svg" alt="Emergency" width="42"
           class="img-responsive">
      <h3 class="service-title">Emergency</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni dignissimos rem.</p>
    </div><!-- End .service -->

    <div class="service service-box">
      <img src="assets/images/svg/surgeon.svg" alt="Surgery" width="42" class="img-responsive">
      <h3 class="service-title">Surgery</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni dignissimos rem.</p>
    </div><!-- End .service -->

    <div class="service service-box">
      <img src="assets/images/svg/tooth.svg" alt="Dentistry" width="42" class="img-responsive">
      <h3 class="service-title">Dentistry</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni dignissimos rem.</p>
    </div><!-- End .service -->

    <div class="service service-box">
      <img src="assets/images/svg/medical-history.svg" alt="Check up" width="42"
           class="img-responsive">
      <h3 class="service-title">Check ups</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni dignissimos rem.</p>
    </div><!-- End .service -->
  </div><!-- End .row -->

  <div class="service-row">
    <div class="service service-box">
      <img src="assets/images/svg/eye.svg" alt="X-Ray" width="42" class="img-responsive">
      <h3 class="service-title">X-Ray</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni dignissimos rem.</p>
    </div><!-- End .service -->

    <div class="service service-box">
      <img src="assets/images/svg/syringe.svg" alt="Nursing" width="42" class="img-responsive">
      <h3 class="service-title">Nursing</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni dignissimos rem.</p>
    </div><!-- End .service -->

    <div class="service service-box">
      <img src="assets/images/svg/microscope.svg" alt="Laboratory" width="42"
           class="img-responsive">
      <h3 class="service-title">Laboratory</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni dignissimos rem.</p>
    </div><!-- End .service -->

    <div class="service service-box">
      <img src="assets/images/svg/stethoscope.svg" alt="Pediatrics " width="42"
           class="img-responsive">
      <h3 class="service-title">Pediatrics </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni dignissimos rem.</p>
    </div><!-- End .service -->
  </div><!-- End .row -->
</div>
</div>


