<app-navbar></app-navbar>

<div class="mb60 mb50-sm"></div>


<div class="container">
  <h2 class="title custom">Lowongan Pekerjaan</h2>
  <div class="mb25 mb50-sm"></div>

  <div class="job-card-body">
    <div class="job-card-logo">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-2 col-sm-5 portfolio-item">
              <img src="assets/images/owlexa.png" style="height: 10rem; width: 10rem;">
            </div>
            <div class="col-lg-7 col-sm-5 portfolio-item">
              <h2><a href="owlexa/detail-karir">{{karir.posisi_karir}}</a></h2>
              <p>{{karir.perusahaan_karir}} · 10,000,000.00  IDR/ month</p>
            </div>
            <div class="col-lg-3 col-sm-2 portfolio-item">
              <p>Posted 11 days ago · Apply before 30 Apr
                Recruiter was hiring 3 hours ago</p>
              <a href="owlexa/detail-karir" class="btn btn-outline-primary">Detail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="job-card-body">
    <div class="job-card-logo">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-2 col-sm-5 portfolio-item">
              <img src="assets/images/owlexa.png" style="height: 10rem; width: 10rem;">
            </div>
            <div class="col-lg-7 col-sm-5 portfolio-item">
              <h2><a href="owlexa/detail-karir">Marketing Agency ( Penempatan Cakung, Jakarta Timur)</a></h2>
              <p>PT. Owlexa Jakarta, Indonesia · 6,000,000.00  IDR/ month</p>
            </div>
            <div class="col-lg-3 col-sm-2 portfolio-item">
              <p>Posted 11 days ago · Apply before 30 Apr
                Recruiter was hiring 3 hours ago</p>
              <a href="owlexa/detail-karir" class="btn btn-success">Detail</a>
              <button type="button" class="btn btn-outline-primary">Primary</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="job-card-body">
    <div class="job-card-logo">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-2 col-sm-5 portfolio-item">
              <img src="assets/images/owlexa.png" style="height: 10rem; width: 10rem;">
            </div>
            <div class="col-lg-7 col-sm-5 portfolio-item">
              <h2><a href="owlexa/detail-karir">Marketing Agency ( Penempatan Cakung, Jakarta Timur)</a></h2>
              <p>PT. Owlexa Jakarta, Indonesia · 6,000,000.00  IDR/ month</p>
            </div>
            <div class="col-lg-3 col-sm-2 portfolio-item">
              <p>Posted 11 days ago · Apply before 30 Apr
                Recruiter was hiring 3 hours ago</p>
              <a href="owlexa/detail-karir" class="btn btn-outline-primary">Detail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<div class="mb60 mb50-sm"></div>

<app-footerpage></app-footerpage>