<app-selection-up-menu></app-selection-up-menu>
<!--<div class="mkd-wrapper">-->
<div class="mkd-wrapper-inner">
  <!--Header Class MKD - page - header-------------  Header Class MKD - page - header  --------------->
  <header class="mkd-page-header">
    <app-logo-and-information></app-logo-and-information>
    <!--------------------------       Information Header ------------------------------------------------------------>


    <!-- For demo purpose -->


    <!--------------------------       Menu Navbar       ------------------------------------------------------------>

    <div class="mkd-menu-area">
      <div class="mkd-grid">
        <div class="mkd-vertical-align-containers">
          <div class="mkd-position-left">
            <div class="mkd-position-left-inner">


              <nav class="mkd-main-menu mkd-drop-down mkd-default-nav">
                <ul id="menu-main-menu" class="clearfix">

                  <li id="tentang_kami" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children mkd-active-item has_sub narrow">
                    <a href="" class=" current ">
                        <span class="item_outer"><span class="item_inner">
                          <span class="item_text">Tentang Kami</span>
                        </span>
                          <span class="plus"></span>
                        </span>
                    </a>
                    <div class="second ">
                      <div class="inner">
                        <ul>
                          <li id="sub_tentang_kami_1" class="menu-item menu-item-type-post_type menu-item-object-page ">
                            <a href="owlexa/lintasarta" class="">
                                <span class="item_outer">
                                  <span class="item_inner">
                                    <span class="item_text">Mengenal Lintasarta</span></span>
                                  <span class="plus"></span>
                                </span>
                            </a>
                          </li>

                          <li id="sub_tentang_kami_2"
                              class="menu-item menu-item-type-post_type menu-item-object-page ">
                            <a href="owlexa/owlexa" class="">
                                <span class="item_outer">
                                  <span class="item_inner">
                                    <span class="item_text">Owlexa Sebagai Bisnis Unit</span></span>
                                  <span class="plus"></span>
                                </span>
                            </a>
                          </li>

                          <li id="sub_tentang_kami_3"
                              class="menu-item menu-item-type-post_type menu-item-object-page ">
                            <a href="owlexa/struktur-organisasi"
                               class="">
                                <span class="item_outer">
                                  <span class="item_inner">
                                    <span class="item_text">Struktur Organisasi</span></span>
                                  <span class="plus"></span>
                                </span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <!-- Tentang Kami -------------------------------------- Tentang Kami ----------------------------->
                  <li id="layanan"
                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children mkd-active-item has_sub narrow">
                    <a href="" class=" current ">
                        <span class="item_outer"><span class="item_inner">
                          <span class="item_text">Layanan</span>
                        </span>
                          <span class="plus"></span>
                        </span>
                    </a>
                    <div class="second ">
                      <div class="inner">
                        <ul>
                          <li id="sub_layanan_1"
                              class="menu-item menu-item-type-post_type menu-item-object-page ">
                            <a href="owlexa/o-corporate-health" class="">
                                <span class="item_outer">
                                  <span class="item_inner">
                                    <span class="item_text">Layanan Corporate Health</span></span>
                                  <span class="plus"></span>
                                </span>
                            </a>
                          </li>

                          <li id="sub_layanan_2" class="menu-item menu-item-type-post_type menu-item-object-page ">
                            <a href="owlexa/o-third-party-administrator" class="">
                                <span class="item_outer">
                                  <span class="item_inner">
                                    <span class="item_text"> Layanan Third Party Administrator</span></span>
                                  <span class="plus"></span>
                                </span>
                            </a>
                          </li>

                          <li id="sub_layanan_3"
                              class="menu-item menu-item-type-post_type menu-item-object-page ">
                            <a href="owlexa/o-optimasi-bpjs" class="">
                                <span class="item_outer">
                                  <span class="item_inner">
                                    <span class="item_text"> Layanan Optimalisasi BPJS</span></span>
                                  <span class="plus"></span>
                                </span>
                            </a>
                          </li>

                          <li id="sub_layanan_4"
                              class="menu-item menu-item-type-post_type menu-item-object-page ">
                            <a href="owlexa/o-semi-managed-care" class="">
                                <span class="item_outer">
                                  <span class="item_inner">
                                    <span class="item_text">Layanan Semi Managed Care</span></span>
                                  <span class="plus"></span>
                                </span>
                            </a>
                          </li>

                          <li id="sub_layanan_5"
                              class="menu-item menu-item-type-post_type menu-item-object-page ">
                            <a href="owlexa/o-managed-care" class="">
                                <span class="item_outer">
                                  <span class="item_inner">
                                    <span class="item_text">Layanan Managed Care</span></span>
                                  <span class="plus"></span>
                                </span>
                            </a>
                          </li>

                          <li id="sub_layanan_6" class="menu-item menu-item-type-post_type menu-item-object-page ">
                            <a href="owlexa/o-front-end-technology-service" class="">
                                <span class="item_outer">
                                  <span class="item_inner">
                                    <span class="item_text">Layanan Front End Technology Service</span></span>
                                  <span class="plus"></span>
                                </span>
                            </a>
                          </li>

                          <li id="sub_layanan_7"
                              class="menu-item menu-item-type-post_type menu-item-object-page ">
                            <a href="owlexa/layanan-pendukung" class="">
                                <span class="item_outer">
                                  <span class="item_inner">
                                    <span class="item_text">Layanan Pendukung</span></span>
                                  <span class="plus"></span>
                                </span>
                            </a>
                          </li>

                        </ul>
                      </div>
                    </div>
                  </li>

                  <!-- Layanan Menu ------------------------------ Layanan Menu ----------------------------->

                  <li id="provider" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children mkd-active-item has_sub narrow">
                    <a href="" class=" current ">
                        <span class="item_outer"><span class="item_inner">
                          <span class="item_text">Provider</span>
                        </span>
                          <span class="plus"></span>
                        </span>
                    </a>
                    <div class="second ">
                      <div class="inner">
                        <ul>
                          <li id="sub_provider_1"
                              class="menu-item menu-item-type-post_type menu-item-object-page ">
                            <a href="owlexa/daftar-jaringan-kesehatan" class="">
                                <span class="item_outer">
                                  <span class="item_inner">
                                    <span class="item_text">Daftar Jaringan Kesehatan</span></span>
                                  <span class="plus"></span>
                                </span>
                            </a>
                          </li>

                          <li id="sub_provider_2" class="menu-item menu-item-type-post_type menu-item-object-page ">
                            <a href="owlexa/provider-baru"
                               class="">
                                <span class="item_outer">
                                  <span class="item_inner">
                                    <span class="item_text">Pendaftaran Provider Baru</span></span>
                                  <span class="plus"></span>
                                </span>
                            </a>
                          </li>
 <!-- Provider Menu ------------------------------------------------------- Provider Menu--------------->

                        </ul>
                      </div>
                    </div>
                  </li>
<!-- Berita dan Artikel ------------------------------------------------------- Berita dan Artikel ----------------------------------->

                  <li id="berita_dan_artikel"
                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children mkd-active-item has_sub narrow">
                    <a href="/" class=" current ">
                        <span class="item_outer"><span class="item_inner">
                          <span class="item_text">Berita & Artikel</span>
                        </span>
                          <span class="plus"></span>
                        </span>
                    </a>
                    <div class="second ">
                      <div class="inner">
                        <ul>
                          <li id="sub_berita_dan_artikel_1"
                              class="menu-item menu-item-type-post_type menu-item-object-page ">
                            <a href="owlexa/press-release"
                               class="">
                                <span class="item_outer">
                                  <span class="item_inner">
                                    <span class="item_text">Press Release / Berita</span></span>
                                  <span class="plus"></span>
                                </span>
                            </a>
                          </li>
                          <li id="sub_berita_dan_artikel_2" class="menu-item menu-item-type-post_type menu-item-object-page ">
                            <a href="owlexa/artikel"
                               class="">
                                <span class="item_outer">
                                  <span class="item_inner">
                                    <span class="item_text">Artikel</span></span>
                                  <span class="plus"></span>
                                </span>
                            </a>
                          </li>
  <!-- Berita dan Artikel ------------------------------------------------------Berita dan Artikel--------------->

                        </ul>
                      </div>
                    </div>
                  </li>

<!--    Menu Info Lainnya ------------------------------------ Menu Info Lainnya ------------------------------------- Menu Home --------------->
                  <li id="info_lainnya"
                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub wide icons">
                    <a href="#" class=" no_link" onclick="JavaScript: return false;">
                      <span class="item_outer">
                        <span class="item_inner"><span class="item_text">Info Lainnnya</span></span>
                        <span class="plus"></span></span>
                    </a>
                    <div class="second  mkd-dropdown-with-background-image"
                         style="background-image:url(assets/images/wide-menu-background.jpg); background-size: cover; background-repeat: no-repeat; background-position: center;">
                      <div class="inner">
                        <ul>
                          <li id="sub_info_lainnya_1"
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children mkd-menu-item-with-description sub">
                            <a href="#" class=" no_link"
                               onclick="JavaScript: return false;"><span
                              class="item_outer"><span class="item_inner"><span
                              class="item_text">Layanan Kami<span
                              class="mkd-menu-item-description">Kami siap melayani anda</span></span></span><span
                              class="plus"></span><i
                              class="q_menu_arrow mkd-icon-font-elegant arrow_carrot-right"></i></span></a>
                            <ul>
                              <li id="sub_info_lainnya_2"
                                  class="menu-item menu-item-type-post_type menu-item-object-page mkd-menu-item-with-icon ">
                                <a href="owlexa/konsultasi-dokter"
                                   class=""><span class="item_outer"><span
                                  class="item_inner"><span
                                  class="menu_icon_wrapper"><i
                                  class="menu_icon icon-basic-book-pen"></i></span><span
                                  class="item_text">Konsultasi Dokter Owlexa Gratis</span></span><span
                                  class="plus"></span></span>
                                </a>
                              </li>

                              <li id="sub_info_lainnya_3"
                                  class="menu-item menu-item-type-post_type menu-item-object-page mkd-menu-item-with-icon ">
                                <a href="owlexa/event"
                                   class=""><span class="item_outer"><span
                                  class="item_inner"><span
                                  class="menu_icon_wrapper"><i
                                  class="menu_icon icon-basic-heart"></i></span><span
                                  class="item_text">Event</span></span><span
                                  class="plus"></span></span>
                                </a>
                              </li>

                              <li id="sub_info_lainnya_4"
                                  class="menu-item menu-item-type-post_type menu-item-object-page mkd-menu-item-with-icon ">
                                <a href="owlexa/faq"
                                   class=""><span class="item_outer"><span
                                  class="item_inner"><span
                                  class="menu_icon_wrapper"><i
                                  class="menu_icon icon-basic-spread-text"></i></span><span
                                  class="item_text">FAQ</span></span><span
                                  class="plus"></span></span>
                                </a>
                              </li>

                              <li id="sub_info_lainnya_5"
                                  class="menu-item menu-item-type-post_type menu-item-object-page mkd-menu-item-with-icon ">
                                <a href="owlexa/promo"
                                   class=""><span class="item_outer"><span
                                   class="item_inner"><span
                                   class="menu_icon_wrapper"><i
                                   class="menu_icon icon-basic-star"></i></span><span
                                   class="item_text">Promo</span></span><span
                                   class="plus"></span></span>
                                </a>
                              </li>

                              <li id="sub_info_lainnya_6"
                                  class="menu-item menu-item-type-post_type menu-item-object-page mkd-menu-item-with-icon ">
                                <a href="owlexa/karir"
                                   class=""><span class="item_outer"><span
                                  class="item_inner"><span
                                  class="menu_icon_wrapper"><i
                                  class="menu_icon icon-basic-anchor"></i></span><span
                                  class="item_text">Karir</span></span><span
                                  class="plus"></span></span>
                                </a>
                              </li>

                              <li id="sub_info_lainnya_7"
                                  class="menu-item menu-item-type-post_type menu-item-object-page mkd-menu-item-with-icon ">
                                <a href="owlexa/klien-berharga"
                                   class=""><span class="item_outer"><span
                                  class="item_inner"><span
                                  class="menu_icon_wrapper"><i
                                  class="menu_icon icon-basic-life-buoy"></i></span><span
                                  class="item_text">Klien Berharga</span></span><span
                                  class="plus"></span></span>
                                </a>
                              </li>
                            </ul>
                          </li>

                          <li id="survei_online"
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children mkd-menu-item-with-description sub">
                            <a href="/" class=" no_link" onclick="JavaScript: return false;"><span
                              class="item_outer"><span class="item_inner"><span
                              class="item_text">Survei Online<span
                              class="mkd-menu-item-description">Kami Menghargai Survai Anda</span></span></span><span
                              class="plus"></span><i
                              class="q_menu_arrow mkd-icon-font-elegant arrow_carrot-right"></i></span></a>
                            <ul>


                              <li id="sub_survei_online_1"
                                  class="menu-item menu-item-type-post_type menu-item-object-page mkd-menu-item-with-icon ">
                                <a href="owlexa/survei-online-provider"
                                   class=""><span class="item_outer"><span
                                  class="item_inner"><span
                                  class="menu_icon_wrapper"><i
                                  class="menu_icon icon-basic-book-pen"></i></span><span
                                  class="item_text">Provider</span></span><span
                                  class="plus"></span></span>
                                </a>
                              </li>

                              <li id="sub_survei_online_2"
                                  class="menu-item menu-item-type-post_type menu-item-object-page mkd-menu-item-with-icon ">
                                <a href="owlexa/survei-online-korporasi"
                                   class=""><span class="item_outer"><span
                                  class="item_inner"><span
                                  class="menu_icon_wrapper"><i
                                  class="menu_icon icon-basic-book-pen"></i></span><span
                                  class="item_text">Korporasi</span></span><span
                                  class="plus"></span></span>
                                </a>
                              </li>

                              <li id="sub_survei_online_3"
                                  class="menu-item menu-item-type-post_type menu-item-object-page mkd-menu-item-with-icon ">
                                <a href="owlexa/survei-online-member"
                                   class=""><span class="item_outer"><span
                                  class="item_inner"><span
                                  class="menu_icon_wrapper"><i
                                  class="menu_icon icon-basic-book-pen"></i></span><span
                                  class="item_text">Member</span></span><span
                                  class="plus"></span></span>
                                </a>
                              </li>
                            </ul>
                          </li>
 <!-- Information Menubar ------------------------------------------- Information Menubar ----------------------------------------------->
                          <li id="tentang_owlexa"
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub">
                            <ul>
                              <li id="sub_tentang_owlexa"
                                  class="menu-item menu-item-type-custom menu-item-object-custom ">
                                <div class="widget widget_text">
                                  <div class="textwidget">
                                    <a href="">
                                      <img
                                        src="" alt=""/>
                                    </a>
                                    <div data-original-height="5"
                                         class="vc_empty_space"
                                         style="height: 5px">
                                      <span class="vc_empty_space_inner"></span>
                                    </div>
                                    <p style="font-size: 13px;"><b>
                                      </b>
                                    </p>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </li>

                          <li id="tentang_owlexa_2"
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub">
                            <ul>
                              <li id="sub_tentang_owlexa_2"
                                  class="menu-item menu-item-type-custom menu-item-object-custom ">
                                <div class="widget widget_text">
                                  <div class="textwidget">
                                    <div data-original-height="5" class="vc_empty_space" style="height: 5px">
                                      <span class="vc_empty_space_inner"></span>
                                    </div>
                                    <p style="font-size: 13px;">
                                      <img src="assets/images/owlexa.png">
                                      Owlexa memberikan pelayanan tanpa batas,
                                      efisien, cepat dan akurat serta
                                      pelayanan terbaik.
                                    </p>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>

                  <li id="nav-menu-item-4"
                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children mkd-active-item has_sub narrow">
                    <a href="owlexa/kontak" class=" current ">
                        <span class="item_outer"><span class="item_inner">
                          <span class="item_text">Kontak</span>
                        </span>
                          <span class="plus"></span>
                        </span>
                    </a>
                  </li>
                </ul>


              </nav>
            </div>
          </div>

          <!-----------------------------------       Menu Language     ------------------------------------------------------>
          <div class="mkd-position-right mkd-has-widget">
            <div class="mkd-position-right-inner">
              <div id="text-9" class="widget widget_text mkd-right-from-main-menu-widget">
                <div class="mkd-right-from-main-menu-widget-inner">
                  <div class="textwidget">
                    <div id="lang_sel">
                      <ul>
                        <li>
                          <a href="#" class="lang_sel_sel icl-en">
                            &nbsp;EN
                          </a>
                          <ul>
                            <li class="icl-fr">
                              <a rel="alternate" hreflang="fr" href="#">
                                &nbsp;Indonesia
                              </a>
                            </li>
                            <li class="icl-de">
                              <a rel="alternate" hreflang="de" href="owlexa/de">
                                &nbsp;English
                              </a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!--Book Appointments ------------------------------- Book Appointments --------------------------------------->
              <div id="mkd_booking_form_widget-6" class="widget widget_mkd_booking_form_widget mkd-right-from-main-menu-widget">
                <div class="mkd-right-from-main-menu-widget-inner">
                  <div class="mkd-booking-form mkd-bf-layout-horizontal dark " data-depts-doctors="{&quot;Cardiology&quot;:[&quot;Dr John Burns&quot;,&quot;Dr Patricia Burton&quot;],&quot;Endocrinology&quot;:[&quot;Dr Jessica Blake&quot;,&quot;Dr Megan Wallace&quot;],&quot;General Surgery&quot;:[&quot;Dr Evan Taller&quot;,&quot;Dr Jamie Brannon&quot;,&quot;Dr Laurice Pace&quot;],&quot;Microbiology&quot;:[&quot;Dr Christine Foster&quot;,&quot;Dr Hugo Mauer&quot;],&quot;Neurology&quot;:[&quot;Dr Catherine Castillo&quot;,&quot;Dr Donald Cox&quot;],&quot;Primary Health Care&quot;:[&quot;Dr Alexander Burns&quot;,&quot;Dr Michael Lewis&quot;]}">
                    <div class="mkd-booking-form-widget-button">
                      <a target="_blank" href="owlexa/login">Login</a>
                    </div>
                  </div>
                </div>
              </div>
<!----------------------------Login ------------------------------- Login --------------------------------------->


              <div id="mkd_side_area_opener-3"
                   class="widget widget_mkd_side_area_opener mkd-right-from-main-menu-widget">
                <div class="mkd-right-from-main-menu-widget-inner">
                  <a class="mkd-side-menu-button-opener normal mkd-side-menu-button-opener-default" href="javascript:void(0)">
                    <span class="mkd-side-area-icon">
                      <span class="mkd-sai-first-line"></span>
                      <span class="mkd-sai-second-line"></span>
                      <span class="mkd-sai-third-line"></span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-navbar-fixed-top></app-navbar-fixed-top>
  </header>
  <app-navbar-mobile></app-navbar-mobile>

  <app-slider-image></app-slider-image>
<!--  <app-navbar-information></app-navbar-information>-->
</div>
