<app-navbar></app-navbar>

<div class="mb60 mb50-sm"></div>
<div class="container">
  <h2 class="title custom">Mengenal Lintasarta</h2>
  <div class="mb20 mb50-sm"></div>
  <div class="row">
    <div class="col-lg-5">
      <iframe width="591" height="413" src="https://www.youtube.com/embed/pEAUUxkm_vs"
              frameborder="0" allow="accelerometer; autoplay; encrypted-media;
               gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="col-lg-7">
      <img class="img-fluid rounded mb-4" src="assets/images/lintasarta_logo.png" style="width: 180px; height: 80px;">
      <p style="text-align: justify"><b>PT Aplikanusa Lintasarta </b>adalah perusahaan yang bergerak
        i bidang Information and Communication Technology (ICT)
        yang memiliki sejarah panjang di bidang pemenuhan kebutuhan
        komunikasi data konsumen dalam bisnis skala kecil, menengah maupun besar.</p>
      <p style="text-align: justify">Didirikan tahun 1988, Lintasarta bermula dari menyediakan sistem pelaporan
        bank dan layanan komunikasi data bagi sektor perbankan, yang akhirnya
        berujung pada pengembangan ATM Bersama. ATM Bersama ini memungkinkan
        konsumen berbagai bank yang berbeda melakukan transaksi antar bank
        melalui ATM. Di saat yang sama, keahlian perusahaan dan cakupan operasional
        berkembang secara eksponensial, menjadikan Lintasarta sebagai salah satu penyedia
        layanan ICT terkemuka di Indonesia.</p>
      <p style="text-align: justify">Kini Lintasarta melayani lebih dari 1.600 mitra perusahaan,
        menghubungkan lebih dari 18.000 jaringan, memanfaatkan infrastruktur
        canggih berbasis Platform Next Generation Network (NGN), dengan
        local support di lebih dari 44 kota yang tersebar di berbagai propinsi di Indonesia.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">

    </div>

    <div class="col-md-8">


    </div>

  </div>
  <div class="mb20 mb50-sm"></div>
  <h2 class="title custom">Anak Perusahaan</h2>
  <div class="mb20 mb50-sm"></div>
  <div class="mb20 mb50-sm"></div>
  <div class="row">
    <div class="col-lg-3">
      <img class="img-fluid rounded mb-4" src="assets/images/artajasa_logo.jpg" alt="">
    </div>
    <div class="col-lg-9">
      <h2>PT Artajasa Pembayaran Elektronis</h2>
      <p>Pada tanggal 10 Februari 2000, Artajasa didirikan dan menjadi bagian dari
        upaya pembangunan yang diawali oleh Lintasarta. Pada tahun 2002,
        Artajasa membuat terobosan dan menunjukkan keberhasilan pertamanya
        dengan menjadi lembaga kliring non-bank pertama untuk transaksi retail
        di Indonesia dengan menjadi anggota sistem BI-RTGS. Prestasi Lain Artajasa
        di tahun 2004 dengan mengembangkan layanan transfer antar-bank secara real
        time on-line melalui ATM. Saat ini jaringan ATM Bersama terus bertumbuh dan
        berkembang dengan banyak sekali terminal ATM dan tersebar di seluruh Indonesia
        dan keyakinan banyak bank sebagai anggota, membuat Artajasa sebagai pemimpin pasar.</p>

    </div>
  </div>

  <div class="mb20 mb50-sm"></div>
  <div class="row">
    <div class="col-lg-3">
      <img class="img-fluid rounded mb-4" src="assets/images/lmd_logo.jpg" alt="">
    </div>
    <div class="col-lg-9">
      <h2>PT Lintas Media Danawa</h2>
      <p>LMD (Lintas Media Danawa) adalah perusahaan yang dibentuk oleh Lintasarta,
        Kompas Gramedia Group (KGG) dan Danawa Malaysia sebagai penyedia jasa dibidang IT,
        seperti software development, cloud computing servicesdan mobile application development.
        Dukungan yang kuat dari ketiga perusahaan tadi merupakan salah satu kekuatan LMD, karena
        ketiga perusahaan tadi merupakan pioneer dibidangnya masing-masing, seperti Lintasarta,
        yang merupakan pemegang saham terbesar, adalah pemain utama di bisnis telekomunikasi data
        dan menguasai 70% pangsa pasar komunikasi data. KGG, adalah grup perusahaan terbesar di
        Indonesia di bidang retail, toko buku dan media, baik surat kabar, majalah atau tabloid.
        Sementara Danawa malaysia adalah perusahaan asal Malaysia yang mempunyai berbagai macam
        solusi teknologi.</p>


    </div>
  </div>
</div>
<div class="mb60 mb50-sm"></div>
<app-footerpage></app-footerpage>
