<div class="mkd-logo-area" style="border-bottom: 1px solid rgba(255, 255, 255, 0.26);
    background-color: transparent;">
  <div class="mkd-grid">
    <div class="mkd-vertical-align-containers">
      <div class="mkd-position-left">
        <div class="mkd-position-left-inner">

          <!--------------------------       Logo Web ------------------------------------------------------------>
          <div class="mkd-logo-wrapper">
            <a href="/home" style="height: 51px;">
              <img height="102" width="366" class="mkd-normal-logo"
                   src="assets/images/owlexa_new.png"
                   alt="logo"/>
              <img height="102" width="366" class="mkd-dark-logo"
                   src="assets/images/owlexa_new.png"
                   alt="dark logo"/>
              <img height="102" width="366" class="mkd-light-logo"
                   src="assets/images/owlexa_new.png"
                   alt="light logo"/>
            </a>
          </div>
        </div>
      </div>
      <!--------------------------       Logo Web ------------------------------------------------------------>

      <!--------------------------       Information Header ------------------------------------------------------------>

      <div class="mkd-position-right">
        <div class="mkd-position-right-inner">
          <div id="text-5" class="widget widget_text mkd-right-from-logo-widget">
            <div class="textwidget">
              <div class="mkd-iwt clearfix mkd-iwt-icon-left mkd-iwt-icon-tiny">
                <div class="mkd-iwt-icon-holder">
                  <span class="mkd-icon-shortcode normal" data-hover-color="#8bc0df" data-color="#8bc0df">
                    <i class="mkd-icon-linear-icon lnr lnr-clock mkd-icon-element" style="color: #8bc0df;font-size:34px;margin:10px 0 0 0"></i>
                  </span>
                </div>

                <div class="mkd-iwt-content-holder" style="padding-left: 47px">
                  <div class="mkd-iwt-title-holder">
                    <h6 style="margin-top:10px;text-transform: none;font-weight: 600">Monday - Friday
                      08:00 - 20:00</h6>
                  </div>
                  <div class="mkd-iwt-text-holder">
                    <p style="color: #b7b7b7">Saturday and Sunday - CLOSED</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="text-6" class="widget widget_text mkd-right-from-logo-widget">
            <div class="textwidget">
              <div class="mkd-iwt clearfix mkd-iwt-icon-left mkd-iwt-icon-tiny">
                <div class="mkd-iwt-icon-holder">
                  <span class="mkd-icon-shortcode normal" data-hover-color="#8bc0df" data-color="#8bc0df">
                    <i class="mkd-icon-linear-icon lnr lnr-smartphone mkd-icon-element" style="color: #8bc0df;font-size:34px;margin:12px 0 0 0"></i>
                  </span>
                </div>
                <div class="mkd-iwt-content-holder" style="padding-left: 43px">
                  <div class="mkd-iwt-title-holder">
                    <h6 style="margin-top:10px;text-transform: none;font-weight: 600">+ 0800 2466
                      7921</h6>
                  </div>
                  <div class="mkd-iwt-text-holder">
                    <p style="color: #b7b7b7">
                      office@medigroup.com
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="text-7" class="widget widget_text mkd-right-from-logo-widget">
            <div class="textwidget">
              <div class="mkd-iwt clearfix mkd-iwt-icon-left mkd-iwt-icon-tiny">
                <div class="mkd-iwt-icon-holder">
                  <span class="mkd-icon-shortcode normal" data-hover-color="#8bc0df" data-color="#8bc0df"><i class="mkd-icon-linear-icon lnr lnr-map-marker mkd-icon-element" style="color: #8bc0df;font-size:34px;margin:11px 0 0 0"></i></span>
                </div>
                <div class="mkd-iwt-content-holder" style="padding-left: 43px">
                  <div class="mkd-iwt-title-holder">
                    <h6 style="margin-top:10px;text-transform: none;font-weight: 600">34th Avenue</h6>
                  </div>
                  <div class="mkd-iwt-text-holder">
                    <p style="color: #b7b7b7">New York, W2 3XE</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="text-8" class="widget widget_text mkd-right-from-logo-widget">
            <div class="textwidget">
              <div class="mkd-icon-top-left">
                <span class="mkd-icon-shortcode normal" data-hover-color="#8bc0df" data-color="#8bc0df">
                  <i class="mkd-icon-linear-icon lnr lnr-pointer-right mkd-icon-element" style="color: #8bc0df;font-size:34px;margin:12px 0 0 0"></i></span>
              </div>
              <!--------------------------       Information Media Social ------------------------------------------------------------>

              <div class="mkd-elements-top-right">
                <h6 style="font-size: 13px; font-weight: 600; text-transform: none; line-height: 12px; margin-top: 10px; margin-bottom: 1px;">
                  Follow Us</h6>
                <div data-original-height="3" class="vc_empty_space" style="height: 3px">
                  <span class="vc_empty_space_inner"></span></div>
                <span class="mkd-icon-shortcode circle"
                      style="margin: 0 10px 0 0;width: 18px;height: 18px;line-height: 18px;background-color: #b7b7b7;border-style: solid;border-width: 0px"
                      data-hover-background-color="#8bc0df" data-hover-color="#ffffff"
                      data-color="#ffffff">
                  <a href="https://www.facebook.com/Mikado-Themes-884182241781117" target="_blank" rel="noopener noreferrer">
                    <span aria-hidden="true" class="mkd-icon-font-elegant social_facebook mkd-icon-element" style="color: #ffffff;font-size:8px"></span></a>
                </span>

                <span class="mkd-icon-shortcode circle"
                      style="margin: 0 10px 0 0;width: 18px;height: 18px;line-height: 18px;background-color: #b7b7b7;border-style: solid;border-width: 0px"
                      data-hover-background-color="#8bc0df" data-hover-color="#ffffff"
                      data-color="#ffffff">
                  <a href="https://twitter.com/MikadoThemes?lang=en" target="_blank" rel="noopener noreferrer">
                    <span aria-hidden="true" class="mkd-icon-font-elegant social_twitter mkd-icon-element" style="color: #ffffff;font-size:8px"></span>
                  </a>
                </span>

                <span class="mkd-icon-shortcode circle"
                      style="margin: 0 10px 0 0;width: 18px;height: 18px;line-height: 18px;background-color: #b7b7b7;border-style: solid;border-width: 0px"
                      data-hover-background-color="#8bc0df" data-hover-color="#ffffff"
                      data-color="#ffffff">
                  <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
                    <span aria-hidden="true" class="mkd-icon-font-elegant social_linkedin mkd-icon-element" style="color: #ffffff;font-size:8px"></span>
                  </a>
                </span>

                <span class="mkd-icon-shortcode circle"
                      style="margin: 0 0 0 0;width: 18px;height: 18px;line-height: 18px;background-color: #b7b7b7;border-style: solid;border-width: 0px"
                      data-hover-background-color="#8bc0df" data-hover-color="#ffffff"
                      data-color="#ffffff">
                  <a href="https://plus.google.com/" target="_blank" rel="noopener noreferrer">
                  <i class="mkd-icon-font-awesome fa fa-google-plus mkd-icon-element" style="color: #ffffff;font-size:8px"></i>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
