<div class="mkd-full-width">
  <div class="mkd-full-width-inner">
    <div class="mkd-grid-row">
      <div class="mkd-page-content-holder mkd-grid-col-12">
        <div class="vc_row wpb_row vc_row-fluid mkd-section vc_custom_1467359808767 mkd-content-aligment-left mkd-grid-section" style="">
<!--          <div class="clearfix mkd-section-inner">-->
            <div class="mkd-section-inner-margin clearfix">
<!--              <h3>Hai Bodyku</h3>-->

              <app-home></app-home>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--</div>-->
