<div class="container">
<div class="row">
  <div class="col-md-6">
    <h2 class="title custom">{{judul}}</h2>
    <p class="lead smaller">{{smalltext}}</p>
    <p style="text-align: justify">{{description}}</p>

    <div class="mb10"></div><!-- margin -->

    <h2 class="title custom">Mitra Kami</h2>

    <div id="portfolio-item-container" class="quick-gallery-showcase mb0 popup-gallery" data-layoutmode="fitRows">
      <div class="portfolio-item">
        <figure>
          <img src="assets/images/rs_binawaluya.jpg" alt="Portfolio Name" class="img-thumbnail border-0" style="width: 100%; height: 100px">
          <figcaption>
            <a href="assets/images/rs_binawaluya.jpg" data-thumb="assets/images/ER-indonesia.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
          </figcaption>
        </figure>
      </div><!-- End .portfolio-item -->

      <div class="portfolio-item">
        <figure>
          <img src="assets/images/rs_cm.jpg" alt="Portfolio Name" class="img-thumbnail border-0" style="width: 100%; height: 100px">
          <figcaption>
            <a href="assets/images/rs_cm.jpg" data-thumb="assets/images/ER-indonesia.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
          </figcaption>
        </figure>
      </div><!-- End .portfolio-item -->

      <div class="portfolio-item">
        <figure>
          <img src="assets/images/rs_gandaria.jpg" alt="Portfolio Name" class="img-thumbnail border-0" style="width: 100%; height: 100px">
          <figcaption>
            <a href="assets/images/rs_gandaria.jpg" data-thumb="assets/images/portfolio/index-medical/item3.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
          </figcaption>
        </figure>
      </div><!-- End .portfolio-item -->

      <div class="portfolio-item">
        <figure>
          <img src="assets/images/rs_harapan_kel_jababeka.jpg" alt="Portfolio Name" class="img-thumbnail border-0" style="width: 100%; height: 100px">
          <figcaption>
            <a href="assets/images/rs_harapan_kel_jababeka.jpg" data-thumb="assets/images/portfolio/index-medical/item4.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
          </figcaption>
        </figure>
      </div><!-- End .portfolio-item -->

      <div class="portfolio-item">
        <figure>
          <img src="assets/images/rs_imc_bintaro.jpg" alt="Portfolio Name" class="img-thumbnail border-0" style="width: 100%; height: 100px">
          <figcaption>
            <a href="assets/images/rs_imc_bintaro.jpg" data-thumb="assets/images/portfolio/index-medical/item5.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
          </figcaption>
        </figure>
      </div><!-- End .portfolio-item -->

      <div class="portfolio-item">
        <figure>
          <img src="assets/images/rs_mayapada.jpg" alt="Portfolio Name" class="img-thumbnail border-0" style="width: 100%; height: 100px">
          <figcaption>
            <a href="assets/images/rs_mayapada.jpg" data-thumb="assets/images/portfolio/index-medical/item6.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
          </figcaption>
        </figure>
      </div><!-- End .portfolio-item -->

      <div class="portfolio-item">
        <figure>
          <img src="assets/images/rs_pelni.jpg" alt="Portfolio Name" class="img-thumbnail border-0" style="width: 100%; height: 100px">
          <figcaption>
            <a href="assets/images/rs_pelni.jpg" data-thumb="assets/images/portfolio/index-medical/item7.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
          </figcaption>
        </figure>
      </div><!-- End .portfolio-item -->

      <div class="portfolio-item">
        <figure>
          <img src="assets/images/rs_pondokindah.jpg" alt="Portfolio Name" class="img-thumbnail border-0" style="width: 100%; height: 100px">
          <figcaption>
            <a href="assets/images/rs_pondokindah.jpg" data-thumb="assets/images/portfolio/index-medical/item8.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
          </figcaption>
        </figure>
      </div><!-- End .portfolio-item -->

      <div class="portfolio-item">
        <figure>
          <img src="assets/images/rs_siloam.jpg" alt="Portfolio Name" class="img-thumbnail border-0" style="width: 100%; height: 100px">
          <figcaption>
            <a href="assets/images/rs_siloam.jpg" data-thumb="assets/images/portfolio/index-medical/item8.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
          </figcaption>
        </figure>
      </div><!-- End .portfolio-item -->

      <div class="portfolio-item">
        <figure>
          <img src="assets/images/ER-indonesia.jpg" alt="Portfolio Name" class="img-thumbnail border-0" style="width: 100%; height: 100px">
          <figcaption>
            <a href="assets/images/ER-indonesia.jpg" data-thumb="assets/images/portfolio/index-medical/item8.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
          </figcaption>
        </figure>
      </div><!-- End .portfolio-item -->
    </div><!-- End .portfolio-item-container -->
    <div class="mb10"></div><!-- margin -->

  </div><!-- End .col-md-6 -->


  <div class="clearfix mb20 visible-xs visible-sm"></div><!-- margin -->

  <div class="col-md-6">

    <iframe width="600" height="330" src="https://www.youtube.com/embed/kPO9uHp-DzM"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media;
             gyroscope; picture-in-picture" allowfullscreen>
    </iframe>

    <div class="mb10"></div><!-- margin -->

    <h2 class="title custom">Daftar Klien</h2>
    <div class="mb10"></div><!-- margin -->
    <div id="portfolio-item-container" class="quick-gallery-showcase mb0 popup-gallery" data-layoutmode="fitRows">
      <div class="portfolio-item">
        <figure>
          <img src="assets/images/Asuransi_jiwa_inhealth_logo.jpg" alt="Portfolio Name" class="img-thumbnail border-0" style="width: 100%; height: 100px">
          <figcaption>
            <a href="assets/images/Asuransi_jiwa_inhealth_logo.jpg" data-thumb="assets/images/ER-indonesia.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
          </figcaption>
        </figure>
      </div><!-- End .portfolio-item -->

      <div class="portfolio-item">
        <figure>
          <img src="assets/images/client-car.jpg" alt="Portfolio Name" class="img-thumbnail border-0" style="width: 100%; height: 100px">
          <figcaption>
            <a href="assets/images/client-car.jpg" data-thumb="assets/images/ER-indonesia.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
          </figcaption>
        </figure>
      </div><!-- End .portfolio-item -->

      <div class="portfolio-item">
        <figure>
          <img src="assets/images/client-takaful.jpg" alt="Portfolio Name" class="img-thumbnail border-0" style="width: 100%; height: 100px">
          <figcaption>
            <a href="assets/images/client-takaful.jpg" data-thumb="assets/images/portfolio/index-medical/item3.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
          </figcaption>
        </figure>
      </div><!-- End .portfolio-item -->

      <div class="portfolio-item">
        <figure>
          <img src="assets/images/logo_lintasarta.png" alt="Portfolio Name" class="img-thumbnail border-0" style="width: 100%; height: 100px">
          <figcaption>
            <a href="assets/images/logo_lintasarta.png" data-thumb="assets/images/portfolio/index-medical/item4.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
          </figcaption>
        </figure>
      </div><!-- End .portfolio-item -->


      <div class="portfolio-item">
        <figure>
          <img src="assets/images/kopkarla.jpg" alt="Portfolio Name" class="img-thumbnail border-0" style="width: 100%; height: 100px">
          <figcaption>
            <a href="assets/images/kopkarla.jpg" data-thumb="assets/images/portfolio/index-medical/item6.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
          </figcaption>
        </figure>
      </div><!-- End .portfolio-item -->

      <div class="portfolio-item">
        <figure>
          <img src="assets/images/logo-artajasa.png" alt="Portfolio Name" class="img-thumbnail border-0" style="width: 100%; height: 100px">
          <figcaption>
            <a href="assets/images/logo-artajasa.png" data-thumb="assets/images/portfolio/index-medical/item7.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
          </figcaption>
        </figure>
      </div><!-- End .portfolio-item -->

      <div class="portfolio-item">
        <figure>
          <img src="assets/images/logo_kerry.png" alt="Portfolio Name" class="img-thumbnail border-0" style="width: 100%; height: 100px">
          <figcaption>
            <a href="assets/images/logo_kerry.png" data-thumb="assets/images/portfolio/index-medical/item8.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
          </figcaption>
        </figure>
      </div><!-- End .portfolio-item -->

      <div class="portfolio-item">
        <figure>
          <img src="assets/images/Indosat_Ooreedoo.png" alt="Portfolio Name" class="img-thumbnail border-0" style="width: 100%; height: 100px">
          <figcaption>
            <a href="assets/images/Indosat_Ooreedoo.png" data-thumb="assets/images/portfolio/index-medical/item8.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
          </figcaption>
        </figure>
      </div><!-- End .portfolio-item -->
    </div>

  </div><!-- End .col-md-6 -->
</div><!-- End .row -->
</div><!-- End .container -->
