<app-navbar></app-navbar>

<div class="mb60 mb50-sm"></div>
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h2 class="title custom">Kontak Kami</h2>
  <h3 i18n>Hello interlanguage!</h3>
  <div class="container">
    <div style="text-align:center">
    </div>
    <div class="row">
      <div class="column">
        <iframe width="100%" height="270px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3533.8291973973573!2d106.82221042815392!3d-6.1856696513418195!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd6db11bb79ead5c0!2sPT.%20Aplikanusa%20Lintasarta!5e0!3m2!1sid!2sid!4v1581323067294!5m2!1sid!2sid">
        </iframe>
        <label for="fname"><span class="fa fa-map-marker"></span>
          PT Aplikanusa Lintasarta Menara <br>Thamrin 18th Floor
          Jl. MH Thamrin Kav.3, Jakarta 10250, Indonesia</label>
        <br>
        <label for="fname"><span class="fa fa-phone"></span>
          +62 21 230 2345</label><br>
        <label for="fname"><span class="fa fa-fax"></span>
          +62 21 304 98700</label><br>
        <label for="fname"><span class="fa fa-envelope-o"></span>
          <a href="sales.owlexa@lintasarta.co.id"> sales.owlexa@lintasarta.co.id</a></label>
      </div>

      <div class="column">
        <form action="">
          <label for="fname">Nama Lengkap</label>
          <input type="text" id="fname" name="nama_lengkap" placeholder="Nama Lengkap">
          <label for="lname">Nomer Telphone</label>
          <input type="number" id="lname" name="nomer_telphone" placeholder="Nomer Telphone">
          <label for="lname">E-mail</label>
          <input type="email" id="lname" name="nomer_telphone" placeholder="E-mail">
          <label for="subject">Pertanyaan</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:100px"></textarea>
          <input type="submit" value="KIRIM">
        </form>
      </div>
    </div>
  </div>
</div>
<div class="mb60 mb50-sm"></div>

<app-footerpage></app-footerpage>
