<section class="mkd-side-menu right">
  <div class="mkd-close-side-menu-holder">
    <div class="mkd-close-side-menu-holder-inner">
      <a href="#" target="_self" class="mkd-close-side-menu">
        <span aria-hidden="true" class="icon_close"></span>
      </a>
    </div>
  </div>
  <div id="text-10" class="widget mkd-sidearea widget_text">
    <div class="textwidget">
      <img src="assets/images/owlexa_new.png" alt="logo_owlexa"/>
      <p style="color: #959595;margin-top:15px;">Lorem ipsum dolor sit amet, consectetuer. Proin gravida nibh vel
        velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum.</p>
      <h6 style="color: #555555; font-weight: 600;margin-top:30px;">+ 0800 2466 7921<br/></h6>
      <p style="color: #b7b7b7;"><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                    data-cfemail="064960606f6563464b63626f61746973762865696b">[email&#160;protected]</a><br/>
        34th Avenue New York, W2 3XE</p></div>
  </div>
  <div id="mkd_social_icon_widget-2" class="widget mkd-sidearea widget_mkd_social_icon_widget">
    <a class="mkd-social-icon-widget-holder" data-hover-color="#a5b4c3"
       style="color: #738495;font-size: 14px;margin: 0 10px 0 0"
       href="https://www.facebook.com/Mikado-Themes-884182241781117" target="_blank">
      <span class="mkd-social-icon-widget social_facebook"></span> </a>
  </div>
  <div id="mkd_social_icon_widget-3" class="widget mkd-sidearea widget_mkd_social_icon_widget">
    <a class="mkd-social-icon-widget-holder" data-hover-color="#a5b4c3"
       style="color: #738495;font-size: 14px;margin: 2px 11px 0 0" href="https://twitter.com/MikadoThemes?lang=en"
       target="_blank">
      <span class="mkd-social-icon-widget social_twitter"></span> </a>
  </div>
  <div id="mkd_social_icon_widget-4" class="widget mkd-sidearea widget_mkd_social_icon_widget">
    <a class="mkd-social-icon-widget-holder" data-hover-color="#a5b4c3"
       style="color: #738495;font-size: 14px;margin: 0 11px 0 0" href="https://www.linkedin.com/" target="_blank">
      <span class="mkd-social-icon-widget social_linkedin"></span> </a>
  </div>
  <div id="mkd_social_icon_widget-5" class="widget mkd-sidearea widget_mkd_social_icon_widget">
    <a class="mkd-social-icon-widget-holder" data-hover-color="#a5b4c3" style="color: #738495;font-size: 14px"
       href="https://www.instagram.com/mikadothemes/" target="_blank">
      <span class="mkd-social-icon-widget social_instagram"></span> </a>
  </div>
  <div id="recent-posts-2" class="widget mkd-sidearea widget_recent_entries"><h4 class="mkd-sidearea-widget-title">
    Recent Posts</h4>
    <ul>
      <li>
        <a href="">Integrative
          Medicine And Cancer Treatment</a>
        <span class="post-date">July 11, 2016</span>
      </li>
      <li>
        <a href="">Achieving
          Better Health Care One Patient At A Time</a>
        <span class="post-date">June 30, 2016</span>
      </li>
    </ul>
  </div>
  <div id="mkd_instagram_widget-3" class="widget mkd-sidearea widget_mkd_instagram_widget"><h4
    class="mkd-sidearea-widget-title">Follow Us On Instagram</h4>
    <ul class="mkd-instagram-feed clearfix mkd-col-3 ">
      <li>
        <div class="mkd-instagram-item-holder">
          <a href="https://www.instagram.com/p/Bovt_z7hgCX/" target="_blank">
            <img class="thumbnail"
                 src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/s150x150/42186744_1828568093885595_2424567591066755458_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=apw_8PhUfRkAX9e0aUf&amp;oh=4b87f5faeed84cc6472da2e9e0d81a47&amp;oe=5EA111DA"
                 alt="" width="150" height="150"/>
            <div class="mkd-instagram-overlay">
              <div class="mkd-instagram-overlay-inner">
                <div class="mkd-instagram-overlay-inner2">
                  <span class="overlay-icon social-instagram"></span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="mkd-instagram-item-holder">
          <a href="https://www.instagram.com/p/Bovt4v9B2hM/" target="_blank">
            <img class="thumbnail"
                 src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/s150x150/42968147_952859511568107_3900644723826701370_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=iycYiIw5GG4AX-cFhCF&amp;oh=ddf71e69745394a185b27d0f0fc63fba&amp;oe=5EAF28E3"
                 alt="" width="150" height="150"/>
            <div class="mkd-instagram-overlay">
              <div class="mkd-instagram-overlay-inner">
                <div class="mkd-instagram-overlay-inner2">
                  <span class="overlay-icon social-instagram"></span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="mkd-instagram-item-holder">
          <a href="https://www.instagram.com/p/BovtyGmB3f2/" target="_blank">
            <img class="thumbnail"
                 src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/s150x150/41530357_2215960222014685_2033421110739157416_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=hwahmSn4MnwAX_IzOl6&amp;oh=151d7635e64b48a953832da7c6a60033&amp;oe=5EB3CE29"
                 alt="" width="150" height="150"/>
            <div class="mkd-instagram-overlay">
              <div class="mkd-instagram-overlay-inner">
                <div class="mkd-instagram-overlay-inner2">
                  <span class="overlay-icon social-instagram"></span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="mkd-instagram-item-holder">
          <a href="https://www.instagram.com/p/BovtIBdhvIW/" target="_blank">
            <img class="thumbnail"
                 src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/s150x150/42473422_162886047980218_1130715489492013118_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=K6KwFY-yAKwAX8McSY2&amp;oh=770f5932a65378055a73869a8bf0f7ba&amp;oe=5E9BA4C5"
                 alt="" width="150" height="150"/>
            <div class="mkd-instagram-overlay">
              <div class="mkd-instagram-overlay-inner">
                <div class="mkd-instagram-overlay-inner2">
                  <span class="overlay-icon social-instagram"></span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="mkd-instagram-item-holder">
          <a href="https://www.instagram.com/p/BovtGa_BQr4/" target="_blank">
            <img class="thumbnail"
                 src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/s150x150/42144781_971884529680800_5380994997292950177_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=DnU9m09_oIoAX8Z1xqJ&amp;oh=f56b0a3f510e853a0bc07aa62c4e1618&amp;oe=5E96EC03"
                 alt="" width="150" height="150"/>
            <div class="mkd-instagram-overlay">
              <div class="mkd-instagram-overlay-inner">
                <div class="mkd-instagram-overlay-inner2">
                  <span class="overlay-icon social-instagram"></span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="mkd-instagram-item-holder">
          <a href="https://www.instagram.com/p/BovtExAhIVf/" target="_blank">
            <img class="thumbnail"
                 src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/s150x150/42926709_189163405316080_7705193374882485735_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=aq0FLPvjTSAAX8rJzM3&amp;oh=3e12ff6f648733fae44087a81cd9df23&amp;oe=5E963BE9"
                 alt="" width="150" height="150"/>
            <div class="mkd-instagram-overlay">
              <div class="mkd-instagram-overlay-inner">
                <div class="mkd-instagram-overlay-inner2">
                  <span class="overlay-icon social-instagram"></span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
