<app-navbar></app-navbar>

<div class="mb60 mb50-sm"></div>

<div class="container">
  <h2 class="title custom">Klien Berharga</h2>
  <div class="mb25 mb50-sm"></div>
  <div class="mb10"></div><!-- margin -->
  <div id="portfolio-item-container" class="quick-gallery-showcase mb0 popup-gallery" data-layoutmode="fitRows">
    <div class="portfolio-item">
      <figure>
        <img src="assets/images/Asuransi_jiwa_inhealth_logo.jpg" alt="Portfolio Name" class="img-thumbnail border-0"
          style="width: 100%; height: 100px">
        <figcaption>
          <a href="assets/images/Asuransi_jiwa_inhealth_logo.jpg" data-thumb="assets/images/ER-indonesia.jpg"
            class="zoom-btn"><i class="fa fa-search"></i></a>
          <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
        </figcaption>
      </figure>
    </div><!-- End .portfolio-item -->

    <div class="portfolio-item">
      <figure>
        <img src="assets/images/client-car.jpg" alt="Portfolio Name" class="img-thumbnail border-0"
          style="width: 100%; height: 100px">
        <figcaption>
          <a href="assets/images/client-car.jpg" data-thumb="assets/images/ER-indonesia.jpg" class="zoom-btn"><i
              class="fa fa-search"></i></a>
          <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
        </figcaption>
      </figure>
    </div><!-- End .portfolio-item -->

    <div class="portfolio-item">
      <figure>
        <img src="assets/images/client-takaful.jpg" alt="Portfolio Name" class="img-thumbnail border-0"
          style="width: 100%; height: 100px">
        <figcaption>
          <a href="assets/images/client-takaful.jpg" data-thumb="assets/images/portfolio/index-medical/item3.jpg"
            class="zoom-btn"><i class="fa fa-search"></i></a>
          <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
        </figcaption>
      </figure>
    </div><!-- End .portfolio-item -->

    <div class="portfolio-item">
      <figure>
        <img src="assets/images/logo_lintasarta.png" alt="Portfolio Name" class="img-thumbnail border-0"
          style="width: 100%; height: 100px">
        <figcaption>
          <a href="assets/images/logo_lintasarta.png" data-thumb="assets/images/portfolio/index-medical/item4.jpg"
            class="zoom-btn"><i class="fa fa-search"></i></a>
          <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
        </figcaption>
      </figure>
    </div><!-- End .portfolio-item -->


    <div class="portfolio-item">
      <figure>
        <img src="assets/images/kopkarla.jpg" alt="Portfolio Name" class="img-thumbnail border-0"
          style="width: 100%; height: 100px">
        <figcaption>
          <a href="assets/images/kopkarla.jpg" data-thumb="assets/images/portfolio/index-medical/item6.jpg"
            class="zoom-btn"><i class="fa fa-search"></i></a>
          <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
        </figcaption>
      </figure>
    </div><!-- End .portfolio-item -->

    <div class="portfolio-item">
      <figure>
        <img src="assets/images/logo-artajasa.png" alt="Portfolio Name" class="img-thumbnail border-0"
          style="width: 100%; height: 100px">
        <figcaption>
          <a href="assets/images/logo-artajasa.png" data-thumb="assets/images/portfolio/index-medical/item7.jpg"
            class="zoom-btn"><i class="fa fa-search"></i></a>
          <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
        </figcaption>
      </figure>
    </div><!-- End .portfolio-item -->

    <div class="portfolio-item">
      <figure>
        <img src="assets/images/logo_kerry.png" alt="Portfolio Name" class="img-thumbnail border-0"
          style="width: 100%; height: 100px">
        <figcaption>
          <a href="assets/images/logo_kerry.png" data-thumb="assets/images/portfolio/index-medical/item8.jpg"
            class="zoom-btn"><i class="fa fa-search"></i></a>
          <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
        </figcaption>
      </figure>
    </div><!-- End .portfolio-item -->

    <div class="portfolio-item">
      <figure>
        <img src="assets/images/Indosat_Ooreedoo.png" alt="Portfolio Name" class="img-thumbnail border-0"
          style="width: 100%; height: 100px">
        <figcaption>
          <a href="assets/images/Indosat_Ooreedoo.png" data-thumb="assets/images/portfolio/index-medical/item8.jpg"
            class="zoom-btn"><i class="fa fa-search"></i></a>
          <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
        </figcaption>
      </figure>
    </div><!-- End .portfolio-item -->
  </div>


</div>
<div class="mb60 mb50-sm"></div>

<app-footerpage></app-footerpage>