.btn{
  font-size: 1.75rem;
  padding: 13px;
  margin-inside: 10px;

}
.save{
  margin: 15px;
}

.border-image{
  border: 1px solid darkgrey;
  width: 100%;
  height: 350px;
}

#small_image{
  border: 1px solid darkgray;
  background-color: white;
  border-radius: 4px;
  padding: 5px;
  width: 25rem;
  height: 15rem;
  margin-top: -11rem;
  margin-left: 5rem;

}
#list{
  list-style-type: square;
}

.card-body{
  margin: 10px;
}
