<app-navbar></app-navbar>

<div class="mb60 mb50-sm"></div>

<div class="container">
  <h2 class="title custom">Detail Karir</h2>
  <div class="mb25 mb50-sm"></div>
  <div class="col-lg-12">
    <div class="mb25 mb50-sm"></div>
    <!-- Preview Image -->

    <img class="img-fluid rounded border-image" src="assets/images/owlexa.png">
    <div class="card">
      <div class="card-body">
        <img src="assets/images/owlexa.png" id="small_image">
        <div class="mb25 mb50-sm"></div>

        <div class="row">
          <div class="col-8">
            <h2><b>Owlexa </b>- {{karir.posisi_karir}}</h2>
            <b>OWLEXA <span class="fa fa-thumb-tack"></span></b><br><br>
            <a href="owlexa/detail-karir" class="btn btn-primary">APPLY NOW</a>
          </div>
          <!-- Date/Time -->
          <div class="col-4 text-right">
            <p>Posted 4 days ago and deadline of application is on 29 Feb
              Recruiter was hiring a day ago</p>
            <a href="owlexa/detail-karir" class="save btn btn-outline-primary fa fa-heart-o"> SAVE</a>
            <a href="owlexa/detail-karir" class="btn btn-outline-primary fa fa-share-alt fa-4x"> REFER A FRIEND</a>

          </div>
        </div>

      </div>
    </div>

    <!-- Post Content -->
    <div class="card">
      <div class="card-body">
        <h3><b>Jobs Description</b></h3>
        <div [innerHTML]="karir.isi_karir"></div>
        <!-- <p class="text-justify">With clear vision to be the best mass market bank that powered by digital,
          PT.Lintasarta brings Owlexa, our latest innovation. Owlexa is a revolutionary apps
          from PT.Lintasarta that is simple, smart, and safe in managing your life finance.
          Join Owlexa Solution team as Mobile iOS Developer to deliver banking reinvented!
          You will be responsible to work collaboratively and iteratively through design and
          development to deliver fully functioning web & mobile applications that meet business
          goals, with detail job description as below:</p>

        <ul id="list">
          <li>To act as Front End Developer to contribute across the technology stack, from database to native apps.
          </li>
          <li>To design and implement new features for Jenius customer-facing client and internal apps</li>
          <li>To optimize applications that maximize speed and scale</li>
          <li>To write well-designed, efficient code that meet the relevant security standards</li>
          <li>To build custom native user interfaces using the latest Android / iOS standards and techniques</li>
          <li>To integrate with external and internal web services and interfaces</li>
          <li>To participate in: software requirements analysis, collaborative design and code review, and test plan
            creation.
          </li>
          <li>To ensure designs are in compliance with specifications</li>
          <li>To debug and develop root cause analysis</li>
        </ul>

        <hr>
        <h3><b>Minimum Qualifications</b></h3>
        <ul id="list">
          <li>Bachelor’s degree in Computer Science of related field</li>
          <li>2 -3 years professional experience in software development</li>
          <li>Having professional experience in mobile software development (having a published mobile app ready to use
            is a plus).
          </li>
          <li>Expert in iOs development platform.</li>
          <li>Having understanding of agile development methodologies and working models</li>
          <li>Having excellent source control skills and discipline (GIT)</li>
          <li>Having software development experiences with Agile, Lean, and Continuous Delivery best practices</li>
          <li>Having knowledge in secure software development practices</li>
          <li>Proficient with software design patterns and domain driven design</li>
          <li>Having strong analytical, design, and programming skills</li>
          <li>Experienced in developing web services</li>
          <li>For Mobile Dev (iOS): have solid knowledge in building mobile app using Objective C/Swift. Proved by
            several projects being done
          </li>
          <li>Having knowledge in JavaScript, preferable has developed React Native.</li>
          <li>Having good visual/art in developing web/mobile web.</li>
          <li>Proficient in web server technologies such as Apache, NGINX, varnish, etc.</li>
          <li>Proficient in writing and utilizing RESTful API services and performance tuning large scale applications,
            also strong knowledge with web services
          </li>
          <li>Proficient in tooling and development workflows (e.g Gulp, Gradle, etc.)</li>
          <li>Able to prepare solid technical documentation (oral and written</li>
        </ul>

        <hr>
        <h3><b>Required Skills</b></h3>
        <ul id="list">
          <li>Apache</li>
          <li>iOS</li>
          <li>Nginx</li>
          <li>JavaScript</li>
          <li>Android</li>
        </ul> -->

      </div>
    </div>
  </div>
</div>
<div class="mb60 mb50-sm"></div>

<app-footerpage></app-footerpage>