<header class="mkd-mobile-header">
  <div class="mkd-mobile-header-inner">
    <div class="mkd-mobile-header-holder">
      <div class="mkd-grid">
        <div class="mkd-vertical-align-containers">
          <div class="mkd-mobile-menu-opener">
            <a href="javascript:void(1)">
                <span class="mkd-mobile-opener-icon-holder">
                  <i class="mkd-icon-font-awesome fa fa-bars fa-2x"></i> </span>
            </a>
          </div>
          <div class="mkd-position-center">
            <div class="mkd-position-center-inner">
              <div class="mkd-mobile-logo-wrapper">
                <a href="/" style="height: 51px">
                  <img height="80px" width="140px" src="assets/images/owlexa.png" alt="mobile-logo"/>
                </a>
              </div>
            </div>
          </div>
          <div class="mkd-position-right">
            <div class="mkd-position-right-inner">
            </div>
          </div>
        </div>
      </div>
    </div>

    <nav class="mkd-mobile-nav">
      <div class="mkd-grid">
        <ul id="menu-main-menu-2" class="">
          <li id="mobile-menu-item-308"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children mkd-active-item has_sub">
            <a href="/"class=" current "><span>Tentang Kami</span></a><span class="mobile_arrow">
            <i class="mkd-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
            <ul class="sub_menu">
              <li id="mobile-menu-item-1175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home ">
                <a href=""class=""><span>Mengenal Lintasarta</span></a>
              </li>
              <li id="mobile-menu-item-1175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home ">
                <a href="" class=""><span>Owlexa Sebagai Unit Bisnis</span></a>
              </li>
              <li id="mobile-menu-item-1175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home ">
                <a href="" class=""><span>Struktur Organisasi</span></a>
              </li>
            </ul>
          </li>
          <li id="mobile-menu-item-308"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children mkd-active-item has_sub">
            <a href="/"class=" current "><span>Layanan</span></a><span class="mobile_arrow">
            <i class="mkd-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
            <ul class="sub_menu">
              <li id="mobile-menu-item-1175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home ">
                <a href=""class=""><span>O-Corporate Health</span></a>
              </li>
              <li id="mobile-menu-item-1175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home ">
                <a href="" class=""><span>O-Third Party Administrator</span></a>
              </li>
              <li id="mobile-menu-item-1175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home ">
                <a href="" class=""><span>O-Optimasi BPJS</span></a>
              </li>
              <li id="mobile-menu-item-1175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home ">
                <a href="" class=""><span>O-Semi Managed Care</span></a>
              </li>
              <li id="mobile-menu-item-1175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home ">
                <a href="" class=""><span>O-Managed Care</span></a>
              </li>
              <li id="mobile-menu-item-1175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home ">
                <a href="" class=""><span>O-Front End Tecnology Service</span></a>
              </li>
              <li id="mobile-menu-item-1175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home ">
                <a href="" class=""><span>Layanan Pendukung</span></a>
              </li>
            </ul>
          </li>
          <li id="mobile-menu-item-308"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children mkd-active-item has_sub">
            <a href="/"class=" current "><span>Provider</span></a><span class="mobile_arrow">
            <i class="mkd-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
            <ul class="sub_menu">
              <li id="mobile-menu-item-1175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home ">
                <a href=""class=""><span>Daftar Jaringan Kesehatan</span></a>
              </li>
              <li id="mobile-menu-item-1175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home ">
                <a href="" class=""><span>Pendaftaran Provider Baru</span></a>
              </li>
            </ul>
          </li>
          <li id="mobile-menu-item-308"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children mkd-active-item has_sub">
            <a href="/"class=" current "><span>Berita & Artikel</span></a><span class="mobile_arrow">
            <i class="mkd-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
            <ul class="sub_menu">
              <li id="mobile-menu-item-1175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home ">
                <a href=""class=""><span>Press Release / Berita</span></a>
              </li>
              <li id="mobile-menu-item-1175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home ">
                <a href="" class=""><span>Artikel</span></a>
              </li>
            </ul>
          </li>
          <li id="mobile-menu-item-308"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children mkd-active-item has_sub">
            <a href="/"class=" current "><span>Info Lainnya</span></a><span class="mobile_arrow">
            <i class="mkd-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
            <ul class="sub_menu">
              <li id="mobile-menu-item-1175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home ">
                <a href=""class=""><span>Survei Online</span></a>
              </li>
              <li id="mobile-menu-item-1175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home ">
                <a href="" class=""><span>Konsultasi Dokter Owlexa Gratis</span></a>
              </li>
              <li id="mobile-menu-item-1175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home ">
                <a href="" class=""><span>Event</span></a>
              </li>
              <li id="mobile-menu-item-1175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home ">
                <a href="" class=""><span>FAQ</span></a>
              </li>
              <li id="mobile-menu-item-1175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home ">
                <a href="" class=""><span>Promo</span></a>
              </li>
              <li id="mobile-menu-item-1175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home ">
                <a href="" class=""><span>Karir</span></a>
              </li>
              <li id="mobile-menu-item-1175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home ">
                <a href="" class=""><span>Klien Berharga</span></a>
              </li>
            </ul>
          </li>
          <li id="mobile-menu-item-308"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children mkd-active-item has_sub">
            <a href="/"class=" current "><span>Kontak</span></a><span class="mobile_arrow">
            <i class="mkd-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
