<!--<div id="wrapper">-->
<!--  <div class="main">-->

<app-navbar></app-navbar>
<app-navbar-information></app-navbar-information>

<!--    <div class="container">-->
       <app-about-owlexa></app-about-owlexa>
<!--      </div>&lt;!&ndash; End .container &ndash;&gt;-->

      <div class="quick-form-container bg-custom pt40 pb30 pb40-sm">
        <div class="container">
          <h2 class="title text-white text-center">Information</h2>
          <form action="#" class="row">
            <div class="col-md-10">
              <div class="row">
                <div class="col-sm-4">
                  <label>Full name</label>
                  <input type="text" class="form-control" id="contactname" name="contactname" placeholder="Name"
                         required>
                </div><!-- End .col-md-4 -->
                <div class="col-sm-4">
                  <label>Email</label>
                  <input type="email" class="form-control" id="contactemail" name="contactemail" placeholder="Email"
                         required>
                </div><!-- End .col-md-4 -->
                <div class="col-sm-4">
                  <label>Department</label>
                  <select class="form-control">
                    <option value="Department Name">Department Name</option>
                    <option value="Department Name">Department Name</option>
                    <option value="Department Name">Department Name</option>
                    <option value="Department Name">Department Name</option>
                  </select>
                </div><!-- End .col-md-4 -->
              </div><!-- End .row -->
            </div><!-- End .col-md-10 -->

            <div class="clearfix mb10 visible-sm visible-xs"></div><!-- margin -->

            <div class="col-md-2">
              <input type="submit" class="btn btn-custom2 btn-block" value="Appointment">
            </div><!-- End .col-md-2 -->
          </form>
        </div><!-- End .container -->
      </div><!-- End .quick-form-container -->

      <div class="bg-gray departments-section pt60 pt50-sm pb50-sm">
        <div class="container">
          <div class="row">

            <div class="col-md-4 hidden-sm hidden-xs">
              <img src="assets/images/portfolio-index-medical/doctor.png" alt="Doctor" class="img-responsive">
            </div><!-- End .col-md-4 -->

            <div class="col-md-8">
              <h2 class="title custom mb25">Hospital Departmants</h2>

              <div class="row row-sm">
                <div class="col-sm-4">
                  <div class="text-block hover-bg text-center"
                       style="background-image:url(assets/image/blocks-index-medical/item1.jpg)">
                    <img src="assets/images/svg/microscope.svg" alt="Microscope" width="42">
                    <h3 class="block-title"><a href="#">Laboratory</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto debitis nemo ipsa iure aliquid!
                      Impedit et rem in distin.</p>
                    <a href="#" class="readmore custom2">ReadMore <i class="fa fa-angle-right"></i></a>
                  </div><!-- End .text-block -->
                </div><!-- End .col-sm-4 -->

                <div class="col-sm-4">
                  <div class="text-block hover-bg text-center"
                       style="background-image:url(assets/image/blocks-index-medical/item2.jpg)">
                    <img src="assets/images/svg/stethoscope.svg" alt="Stethoscope" width="42">
                    <h3 class="block-title"><a href="#">Nursing</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto debitis nemo ipsa iure aliquid!
                      Impedit et rem in distin.</p>
                    <a href="#" class="readmore custom2">ReadMore <i class="fa fa-angle-right"></i></a>
                  </div><!-- End .text-block -->
                </div><!-- End .col-sm-4 -->

                <div class="col-sm-4">
                  <div class="text-block hover-bg text-center"
                       style="background-image:url(assets/image/blocks-index-medical/item3.jpg)">
                    <img src="assets/images/svg/tooth.svg" alt="Dentistry" width="42"
                         class="img-responsive">
                    <h3 class="block-title"><a href="#">Dentistry</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto debitis nemo ipsa iure aliquid!
                      Impedit et rem in distin.</p>
                    <a href="#" class="readmore custom2">ReadMore <i class="fa fa-angle-right"></i></a>
                  </div><!-- End .text-block -->
                </div><!-- End .col-sm-4 -->
              </div><!-- End .row -->

              <div class="row row-sm">
                <div class="col-sm-4">
                  <div class="text-block hover-bg text-center"
                       style="background-image:url(assets/image/blocks-index-medical/item4.jpg)">
                    <img src="assets/images/svg/medical-history.svg" alt="Check up" width="42"
                         class="img-responsive">
                    <h3 class="block-title"><a href="#">Check up</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto debitis nemo ipsa iure aliquid!
                      Impedit et rem in distin.</p>
                    <a href="#" class="readmore custom2">ReadMore <i class="fa fa-angle-right"></i></a>
                  </div><!-- End .text-block -->
                </div><!-- End .col-sm-4 -->

                <div class="col-sm-4">
                  <div class="text-block hover-bg text-center"
                       style="background-image:url(assets/image/blocks-index-medical/item5.jpg)">
                    <img src="assets/images/svg/first-aid-kit.svg" alt="Emergency" width="42"
                         class="img-responsive">
                    <h3 class="block-title"><a href="#">Emergency</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto debitis nemo ipsa iure aliquid!
                      Impedit et rem in distin.</p>
                    <a href="#" class="readmore custom2">ReadMore <i class="fa fa-angle-right"></i></a>
                  </div><!-- End .text-block -->
                </div><!-- End .col-sm-4 -->

                <div class="col-sm-4">
                  <div class="text-block hover-bg text-center"
                       style="background-image:url(assets/image/blocks-index-medical/item6.jpg)">
                    <img src="assets/images/svg/syringe.svg" alt="syringe" width="42"
                         class="img-responsive">
                    <h3 class="block-title"><a href="#">Pediatrics </a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto debitis nemo ipsa iure aliquid!
                      Impedit et rem in distin.</p>
                    <a href="#" class="readmore custom2">ReadMore <i class="fa fa-angle-right"></i></a>
                  </div><!-- End .text-block -->
                </div><!-- End .col-sm-4 -->
              </div><!-- End .row -->

              <div class="mb15 mb10-xs"></div><!-- margin -->

              <div class="department-action">
                <h3 class="mb10">Choose the department and get it touch with us!</h3>
                <p class="mb15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores totam tempore quae,
                  officiis cumque natus saepe corporis deserunt libe.</p>
                <a href="#" class="btn btn-custom min-width">Get in touch</a>
              </div>
            </div><!-- End .col-md-8 -->

          </div><!-- End .row -->
        </div><!-- End .container -->
      </div><!-- End .bg-gray -->

<app-latest-news></app-latest-news>
<app-map></app-map>
<app-footerpage></app-footerpage>






