
<footer class="mkd-page-footer">
  <a href="owlexa/chat">
    <img id="scroll-keranjang" alt="Scroll Top Image" src="assets/images/Whatsapp.png"><br>
  </a>
<!--  <app-chat></app-chat>-->
<!--  <app-map></app-map>-->
  <div class="mkd-footer-inner clearfix">
    <div class="mkd-footer-top-holder">
      <div class="mkd-footer-top mkd-footer-top-aligment-left">
        <div class="mkd-container">
          <div class="mkd-container-inner">

            <div class="mkd-grid-row mkd-footer-top-four-cols">
              <div class="mkd-grid-col-3 mkd-grid-col-ipad-landscape-6 mkd-grid-col-ipad-portrait-12">
                <div id="text-16" class="widget mkd-footer-column-1 widget_text">
                  <div class="textwidget">
                    <div data-original-height="12" class="vc_empty_space"
                         style="height: 12px">
                      <span class="vc_empty_space_inner"></span></div>
                    <a href="https://medigroup.mikado-themes.com/">
                      <img src="assets/images/owlexa_new.png"
                           alt="a"/>
                    </a></div>
                </div>
                <div id="text-17" class="widget mkd-footer-column-1 widget_text">
                  <div class="textwidget">
                    <div data-original-height="1" class="vc_empty_space"
                         style="height: 1px">
                      <span class="vc_empty_space_inner"></span></div>
                    <p style="color: #ffffff;">Lorem ipsum dolor sit amet, consectetuer.
                      Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
                      lorem quis bibendum auctor, nisi elit consequat ipsum.</p></div>
                </div>
                <div id="text-18" class="widget mkd-footer-column-1 widget_text">
                  <div class="textwidget">
                    <div class="mkd-iwt clearfix mkd-iwt-icon-left mkd-iwt-icon-tiny">
                      <div class="mkd-iwt-icon-holder">
                                                        <span class="mkd-icon-shortcode normal" data-hover-color="#8bc0df" data-color="#8bc0df">
                                                            <i class="mkd-icon-linear-icon lnr lnr-smartphone mkd-icon-element" style="color: #8bc0df;font-size:34px;margin:0px 0 0 0"></i>
                                                        </span>
                      </div>
                      <div class="mkd-iwt-content-holder" style="padding-left: 50px">
                        <div class="mkd-iwt-title-holder">
                          <h6 style="color: #ffffff;text-transform: none;font-weight: 600;margin-bottom: 0px">
                            + 0800 2466 7921</h6>
                        </div>
                        <div class="mkd-iwt-text-holder">
                          <p style="color: #b7b7b7"><a
                            href="/cdn-cgi/l/email-protection"
                            class="__cf_email__"
                            data-cfemail="deb1b8b8b7bdbb9eb3bbbab7b9acb1abaef0bdb1b3">[email&#160;protected]</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div data-original-height="9" class="vc_empty_space"
                         style="height: 9px">
                      <span class="vc_empty_space_inner"></span></div>
                    <div class="mkd-iwt clearfix mkd-iwt-icon-left mkd-iwt-icon-tiny">
                      <div class="mkd-iwt-icon-holder">
                                                        <span class="mkd-icon-shortcode normal" data-hover-color="#8bc0df" data-color="#8bc0df">
                                                            <i class="mkd-icon-linear-icon lnr lnr-map-marker mkd-icon-element" style="color: #8bc0df;font-size:34px;margin:0px 0 0 0"></i>
                                                        </span>
                      </div>
                      <div class="mkd-iwt-content-holder" style="padding-left: 50px">
                        <div class="mkd-iwt-title-holder">
                          <h6 style="color: #ffffff;text-transform: none;font-weight: 600;margin-bottom: 0px">
                            Kuningan</h6>
                        </div>
                        <div class="mkd-iwt-text-holder">
                          <p style="color: #b7b7b7">Jakarta</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mkd-grid-col-3 mkd-grid-col-ipad-landscape-6 mkd-grid-col-ipad-portrait-12">
                <div id="mkd_twitter_widget-3"
                     class="widget mkd-footer-column-2 widget_mkd_twitter_widget"><h4
                  class="mkd-footer-widget-title">Latest Tweets</h4>
                  <ul class="mkd_twitter_widget">
                    <li>
                      <div class="mkd_tweet_text">
                        <div class="mkd-tweet-icon">
                          <span aria-hidden="true" class="social_twitter"></span>
                        </div>
                        <div class="mkd-tweet-holder">
                          <a target="_blank" href="https://twitter.com/lauralsands">@lauralsands</a>
                          Hi there, thank you for writing in. The theme is compatible
                          with PHP 7.2, so please update your theme… <a
                          target="_blank" href="https://t.co/c0b1MHuZeC">https://t.co/c0b1MHuZeC</a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="mkd_tweet_text">
                        <div class="mkd-tweet-icon">
                          <span aria-hidden="true" class="social_twitter"></span>
                        </div>
                        <div class="mkd-tweet-holder">
                          <a target="_blank" href="https://twitter.com/mikekelley138">@mikekelley138</a>
                          Hi there, thank you for writing in. Please reach out to our
                          support team at <a target="_blank"
                                             href="https://t.co/NHhMsEx2cO">https://t.co/NHhMsEx2cO</a>…
                          <a target="_blank" href="https://t.co/gRlEAmySnl">https://t.co/gRlEAmySnl</a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="mkd_tweet_text">
                        <div class="mkd-tweet-icon">
                          <span aria-hidden="true" class="social_twitter"></span>
                        </div>
                        <div class="mkd-tweet-holder">
                          <a target="_blank" href="https://twitter.com/SuitcaseOfBks">@SuitcaseOfBks</a>
                          Also:
                          <a target="_blank" href="https://t.co/WpAo4jizJv">https://t.co/WpAo4jizJv</a>
                          <a target="_blank" href="https://t.co/tYjWlocFZL">https://t.co/tYjWlocFZL</a>
                          <a target="_blank" href="https://t.co/AyVLBwzNdT">https://t.co/AyVLBwzNdT</a>
                          You can search for mor… <a target="_blank"
                                                     href="https://t.co/jH5ccwxNnr">https://t.co/jH5ccwxNnr</a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="mkd-grid-col-3 mkd-grid-col-ipad-landscape-6 mkd-grid-col-ipad-portrait-12">
                <div class="widget mkd-latest-posts-widget"><h4 class="mkd-footer-widget-title">
                  Recent Posts</h4>
                  <div class="mkd-blog-list-holder  mkd-image-in-box">
                    <ul class="mkd-blog-list">
                      <li class="mkd-blog-list-item clearfix post-449 post type-post status-publish format-standard has-post-thumbnail hentry category-pharma category-treatment tag-academic-research tag-molecular-biology tag-vegan">
                        <div class="mkd-blog-list-item-inner">
                          <div class="mkd-item-image clearfix">
                            <a href="https://medigroup.mikado-themes.com/integrative-medicine-and-cancer-treatment/">
                              <img src="https://medigroup.mikado-themes.com/wp-content/uploads/2016/06/blog-1-63x63.jpg"
                                   alt="" width="63" height="63"/> </a>
                          </div>
                          <div class="mkd-item-text-holder">
                            <h6 class="mkd-item-title">
                              <a href="https://medigroup.mikado-themes.com/integrative-medicine-and-cancer-treatment/">
                                Integrative Medicine And Cancer Treatment </a>
                            </h6>
                            <div class="mkd-item-date">
                              <span>July 11, 2016</span>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="mkd-blog-list-item clearfix post-465 post type-post status-publish format-gallery has-post-thumbnail hentry category-pharma category-treatment tag-effective-treatment tag-molecular-biology tag-vegan post_format-post-format-gallery">
                        <div class="mkd-blog-list-item-inner">
                          <div class="mkd-item-image clearfix">
                            <a href="https://medigroup.mikado-themes.com/achieving-better-health-care-one-patient-at-a-time/">
                              <img src="https://medigroup.mikado-themes.com/wp-content/uploads/2016/06/blog-2-63x63.jpg"
                                   alt="" width="63" height="63"/> </a>
                          </div>
                          <div class="mkd-item-text-holder">
                            <h6 class="mkd-item-title">
                              <a href="https://medigroup.mikado-themes.com/achieving-better-health-care-one-patient-at-a-time/">
                                Achieving Better Health Care One Patient At A
                                Time </a>
                            </h6>
                            <div class="mkd-item-date">
                              <span>June 30, 2016</span>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="mkd-blog-list-item clearfix post-471 post type-post status-publish format-quote has-post-thumbnail hentry category-medical tag-academic-research tag-effective-treatment tag-holistic-medicine post_format-post-format-quote">
                        <div class="mkd-blog-list-item-inner">
                          <div class="mkd-item-image clearfix">
                            <a href="https://medigroup.mikado-themes.com/ralph-jason/">
                              <img src="https://medigroup.mikado-themes.com/wp-content/uploads/2016/06/blog-quote-post-img-63x63.jpg"
                                   alt="a" width="63" height="63"/> </a>
                          </div>
                          <div class="mkd-item-text-holder">
                            <h6 class="mkd-item-title">
                              <a href="https://medigroup.mikado-themes.com/ralph-jason/">
                                Ralph Jason </a>
                            </h6>
                            <div class="mkd-item-date">
                              <span>June 27, 2016</span>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="mkd-grid-col-3 mkd-grid-col-ipad-landscape-6 mkd-grid-col-ipad-portrait-12">
                <div id="text-19" class="widget mkd-footer-column-4 widget_text">
                  <div class="textwidget">
                    <div data-original-height="22" class="vc_empty_space"
                         style="height: 22px">
                      <span class="vc_empty_space_inner"></span></div>
                    <div class="mkd-working-hours-holder" style="background-color: #34495e">
                      <div class="mkd-wh-icon-holder" style="background-color: #34495e">
                                                        <span class="mkd-wh-icon">
                                                        <i class="mkd-icon-linear-icon lnr lnr-clock mkd-btn-icon-elem"></i> </span>
                      </div>
                      <div class="mkd-wh-holder-inner">
                        <div class="mkd-wh-holder-items">
                          <div class="mkd-wh-item clearfix">
                            <span class="mkd-wh-day">Monday: </span>
                            <span class="mkd-wh-hours"><span class="mkd-wh-from">08am - 12pm</span>
                                                                </span>
                          </div>
                          <div class="mkd-wh-item clearfix">
                            <span class="mkd-wh-day">Tuesday: </span>
                            <span class="mkd-wh-hours"><span class="mkd-wh-from">01am - 5pm</span>
                                                                </span>
                          </div>
                          <div class="mkd-wh-item clearfix"><span class="mkd-wh-day">Wednesday: </span>
                            <span class="mkd-wh-hours">
                                                            <span class="mkd-wh-from">Free day</span></span>
                          </div>
                          <div class="mkd-wh-item clearfix">
                            <span class="mkd-wh-day">Thursday: </span>
                            <span class="mkd-wh-hours">
                                                            <span class="mkd-wh-from">08am - 12pm</span></span>
                          </div>
                          <div class="mkd-wh-item clearfix"><span class="mkd-wh-day">Friday: </span>
                            <span class="mkd-wh-hours"><span class="mkd-wh-from">08am - 12pm</span></span>
                          </div>
                          <div class="mkd-wh-item clearfix"><span class="mkd-wh-day">Saturday - Sunday: </span>
                            <span class="mkd-wh-hours"><span class="mkd-wh-from">Closed</span></span>
                          </div>
                        </div>
                        <div class="mkd-wh-button">
                          <a href="#" target="_self"
                             class="mkd-btn mkd-btn-medium mkd-btn-solid mkd-btn-hover-outline"
                             rel="noopener noreferrer"> <span class="mkd-btn-text">Make an appointment</span>
                          </a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mkd-footer-bottom-holder">
      <div class="mkd-footer-bottom-holder-inner">
        <div class="mkd-container">
          <div class="mkd-container-inner">
            <div class="mkd-grid-row mkd-footer-bottom-two-cols">
              <div class="mkd-grid-col-6">
                <div id="text-20" class="widget mkd-footer-bottom-left widget_text">
                  <div class="textwidget"><span style="color: #ffffff;">Made with</span>
                    <span class="mkd-icon-shortcode normal mkd-icon-tiny"
                          data-hover-color="#ffffff" data-color="#ffffff">
                                                    <span aria-hidden="true" class="mkd-icon-font-elegant icon_heart mkd-icon-element" style="color: #ffffff;margin:0 5px 0 5px"></span>
                                                </span>
                    <span style="color: #ffffff;">by <a
                      href="/home"
                      rel="nofollow noopener noreferrer"
                      target="_blank">Owlexa</a></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
